# Model v2.1 - Tensorflow Version

In [1]:
import tensorflow as tf

In [2]:
tf.logging.set_verbosity(tf.logging.INFO)

In [3]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

In [4]:
import pandas as pd
import numpy as np

In [5]:
version = 2.1
version_str = "v" + str(version)

### Load dataset

In [243]:
LABEL = "price_doc"

In [443]:
def prepare_dataset(df, test=False, trunc_fields=False):
    global LABEL
    t_fields = ['id', 'timestamp', 'full_sq', 'life_sq', 'floor', 'max_floor','material', 'build_year', 'num_room', 'kitch_sq', 'state', 'product_type', 'sub_area', LABEL]
    
    if not test:
        if trunc_fields:
            df = df[t_fields + LABEL]
        else:
            df = df
    else:
        if trunc_fields:
            df = df[t_fields]
        else:
            df = df
            
    fix_cols = [c for c in df.columns.tolist() if '+' in c]
    
    df['timestamp_converted'] = pd.to_datetime(df['timestamp'])
    df['timestamp_day'] = df.apply(lambda row: row['timestamp_converted'].day, axis=1)
    df['timestamp_month'] = df.apply(lambda row: row['timestamp_converted'].month, axis=1)
    df['timestamp_year'] = df.apply(lambda row: row['timestamp_converted'].year, axis=1)
    df['state_refractored'] = df.apply( lambda row: 5 if row['state'] == 33 else row['state'] , axis = 1)
    
    for c in fix_cols:
        df[c.replace("+","_")] = df[c]
        del df[c]
    
    df.fillna(0, inplace=True)
    
    df['state_refractored'] = df['state_refractored'].astype(int)    
    df['material'] = df['material'].astype(int)    
    return df

In [444]:
final_train_df = pd.read_csv("/mnt/h/Kaggle/Competitions/Russian Bank/data/final_training_dataset.csv")

In [445]:
final_train_df = prepare_dataset(final_train_df)

In [446]:
del final_train_df['Unnamed: 0']

In [447]:
final_train_df.head()

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,...,turnover_catering_per_cap,theaters_viewers_per_1000_cap,seats_theather_rfmin_per_100000_cap,museum_visitis_per_100_cap,bandwidth_sports,population_reg_sports_share,students_reg_sports_share,apartment_build,apartment_fund_sqm,rent_price_4_room_bus
0,1,2011-08-20,43,27.0,4.0,0.0,0,0.0,0.0,0.0,...,6943.0,565.0,0.45356,1240.0,269768.0,22.37,64.12,23587.0,230310.0,136.11
1,2,2011-08-23,34,19.0,3.0,0.0,0,0.0,0.0,0.0,...,6943.0,565.0,0.45356,1240.0,269768.0,22.37,64.12,23587.0,230310.0,136.11
2,3,2011-08-27,43,29.0,2.0,0.0,0,0.0,0.0,0.0,...,6943.0,565.0,0.45356,1240.0,269768.0,22.37,64.12,23587.0,230310.0,136.11
3,4,2011-09-01,89,50.0,9.0,0.0,0,0.0,0.0,0.0,...,6943.0,565.0,0.45356,1240.0,269768.0,22.37,64.12,23587.0,230310.0,155.22
4,5,2011-09-05,77,77.0,4.0,0.0,0,0.0,0.0,0.0,...,6943.0,565.0,0.45356,1240.0,269768.0,22.37,64.12,23587.0,230310.0,155.22

In [448]:
[c for c in final_train_df.columns.tolist() if '+' in c]

[]

## Data prep

In [328]:
def get_bin_boundaries(df, col):
    step = int(df[col].std())  
    if step == 0:
        return [float(df[col].min()), float(df[col].max())]
    else:
        return [float(g) for g in list(range( int(df[col].min()), int(df[col].max()), step))]

In [329]:
def bucketize_column(df, col, bins=[]):
    if not bins:
        bins = get_bin_boundaries(df, col)
        if bins.size == 0:
            bins = [df[col].min(), df[col].max()]
    return np.digitize(df[col].values, bins, right=True)

### Notes
- ID_* columns should be embedded!
- _1line are no/yes columns, so they should be labeled...
- "ecology" has values of ['good', 'excellent', 'poor', 'satisfactory', 'no data'],... labelled/one-hot encoded/or embedded?
- church_count_500 and other _count values integer values - bucketize them?
- timestamp_day, timestamp_month, timestamp_year

In [330]:
import math
def determine_dimensions(num_unique, r = 0, k = 1):
    if r == 0:
        return int(math.log(num_unique, 2))
    else:
        return k * int(num_unique ** 1./4.)

In [331]:
def dedup(listy):
    return list(set(listy))

In [449]:
all_feature_columns = [
 'full_sq',
 'life_sq',
 'floor',
 'max_floor',
 'material',
 'build_year',
 'num_room',
 'kitch_sq',
 'state',
 'product_type',
 'sub_area',
 'area_m',
 'raion_popul',
 'green_zone_part',
 'indust_part',
 'children_preschool',
 'preschool_quota',
 'preschool_education_centers_raion',
 'children_school',
 'school_quota',
 'school_education_centers_raion',
 'school_education_centers_top_20_raion',
 'hospital_beds_raion',
 'healthcare_centers_raion',
 'university_top_20_raion',
 'sport_objects_raion',
 'additional_education_raion',
 'culture_objects_top_25',
 'culture_objects_top_25_raion',
 'shopping_centers_raion',
 'office_raion',
 'thermal_power_plant_raion',
 'incineration_raion',
 'oil_chemistry_raion',
 'radiation_raion',
 'railroad_terminal_raion',
 'big_market_raion',
 'nuclear_reactor_raion',
 'detention_facility_raion',
 'full_all',
 'male_f',
 'female_f',
 'young_all',
 'young_male',
 'young_female',
 'work_all',
 'work_male',
 'work_female',
 'ekder_all',
 'ekder_male',
 'ekder_female',
 '0_6_all',
 '0_6_male',
 '0_6_female',
 '7_14_all',
 '7_14_male',
 '7_14_female',
 '0_17_all',
 '0_17_male',
 '0_17_female',
 '16_29_all',
 '16_29_male',
 '16_29_female',
 '0_13_all',
 '0_13_male',
 '0_13_female',
 'raion_build_count_with_material_info',
 'build_count_block',
 'build_count_wood',
 'build_count_frame',
 'build_count_brick',
 'build_count_monolith',
 'build_count_panel',
 'build_count_foam',
 'build_count_slag',
 'build_count_mix',
 'raion_build_count_with_builddate_info',
 'build_count_before_1920',
 'build_count_1921-1945',
 'build_count_1946-1970',
 'build_count_1971-1995',
 'build_count_after_1995',
 'ID_metro',
 'metro_min_avto',
 'metro_km_avto',
 'metro_min_walk',
 'metro_km_walk',
 'kindergarten_km',
 'school_km',
 'park_km',
 'green_zone_km',
 'industrial_km',
 'water_treatment_km',
 'cemetery_km',
 'incineration_km',
 'railroad_station_walk_km',
 'railroad_station_walk_min',
 'ID_railroad_station_walk',
 'railroad_station_avto_km',
 'railroad_station_avto_min',
 'ID_railroad_station_avto',
 'public_transport_station_km',
 'public_transport_station_min_walk',
 'water_km',
 'water_1line',
 'mkad_km',
 'ttk_km',
 'sadovoe_km',
 'bulvar_ring_km',
 'kremlin_km',
 'big_road1_km',
 'ID_big_road1',
 'big_road1_1line',
 'big_road2_km',
 'ID_big_road2',
 'railroad_km',
 'railroad_1line',
 'zd_vokzaly_avto_km',
 'ID_railroad_terminal',
 'bus_terminal_avto_km',
 'ID_bus_terminal',
 'oil_chemistry_km',
 'nuclear_reactor_km',
 'radiation_km',
 'power_transmission_line_km',
 'thermal_power_plant_km',
 'ts_km',
 'big_market_km',
 'market_shop_km',
 'fitness_km',
 'swim_pool_km',
 'ice_rink_km',
 'stadium_km',
 'basketball_km',
 'hospice_morgue_km',
 'detention_facility_km',
 'public_healthcare_km',
 'university_km',
 'workplaces_km',
 'shopping_centers_km',
 'office_km',
 'additional_education_km',
 'preschool_km',
 'big_church_km',
 'church_synagogue_km',
 'mosque_km',
 'theater_km',
 'museum_km',
 'exhibition_km',
 'catering_km',
 'ecology',
 'green_part_500',
 'prom_part_500',
 'office_count_500',
 'office_sqm_500',
 'trc_count_500',
 'trc_sqm_500',
 'cafe_count_500',
 'cafe_sum_500_min_price_avg',
 'cafe_sum_500_max_price_avg',
 'cafe_avg_price_500',
 'cafe_count_500_na_price',
 'cafe_count_500_price_500',
 'cafe_count_500_price_1000',
 'cafe_count_500_price_1500',
 'cafe_count_500_price_2500',
 'cafe_count_500_price_4000',
 'cafe_count_500_price_high',
 'big_church_count_500',
 'church_count_500',
 'mosque_count_500',
 'leisure_count_500',
 'sport_count_500',
 'market_count_500',
 'green_part_1000',
 'prom_part_1000',
 'office_count_1000',
 'office_sqm_1000',
 'trc_count_1000',
 'trc_sqm_1000',
 'cafe_count_1000',
 'cafe_sum_1000_min_price_avg',
 'cafe_sum_1000_max_price_avg',
 'cafe_avg_price_1000',
 'cafe_count_1000_na_price',
 'cafe_count_1000_price_500',
 'cafe_count_1000_price_1000',
 'cafe_count_1000_price_1500',
 'cafe_count_1000_price_2500',
 'cafe_count_1000_price_4000',
 'cafe_count_1000_price_high',
 'big_church_count_1000',
 'church_count_1000',
 'mosque_count_1000',
 'leisure_count_1000',
 'sport_count_1000',
 'market_count_1000',
 'green_part_1500',
 'prom_part_1500',
 'office_count_1500',
 'office_sqm_1500',
 'trc_count_1500',
 'trc_sqm_1500',
 'cafe_count_1500',
 'cafe_sum_1500_min_price_avg',
 'cafe_sum_1500_max_price_avg',
 'cafe_avg_price_1500',
 'cafe_count_1500_na_price',
 'cafe_count_1500_price_500',
 'cafe_count_1500_price_1000',
 'cafe_count_1500_price_1500',
 'cafe_count_1500_price_2500',
 'cafe_count_1500_price_4000',
 'cafe_count_1500_price_high',
 'big_church_count_1500',
 'church_count_1500',
 'mosque_count_1500',
 'leisure_count_1500',
 'sport_count_1500',
 'market_count_1500',
 'green_part_2000',
 'prom_part_2000',
 'office_count_2000',
 'office_sqm_2000',
 'trc_count_2000',
 'trc_sqm_2000',
 'cafe_count_2000',
 'cafe_sum_2000_min_price_avg',
 'cafe_sum_2000_max_price_avg',
 'cafe_avg_price_2000',
 'cafe_count_2000_na_price',
 'cafe_count_2000_price_500',
 'cafe_count_2000_price_1000',
 'cafe_count_2000_price_1500',
 'cafe_count_2000_price_2500',
 'cafe_count_2000_price_4000',
 'cafe_count_2000_price_high',
 'big_church_count_2000',
 'church_count_2000',
 'mosque_count_2000',
 'leisure_count_2000',
 'sport_count_2000',
 'market_count_2000',
 'green_part_3000',
 'prom_part_3000',
 'office_count_3000',
 'office_sqm_3000',
 'trc_count_3000',
 'trc_sqm_3000',
 'cafe_count_3000',
 'cafe_sum_3000_min_price_avg',
 'cafe_sum_3000_max_price_avg',
 'cafe_avg_price_3000',
 'cafe_count_3000_na_price',
 'cafe_count_3000_price_500',
 'cafe_count_3000_price_1000',
 'cafe_count_3000_price_1500',
 'cafe_count_3000_price_2500',
 'cafe_count_3000_price_4000',
 'cafe_count_3000_price_high',
 'big_church_count_3000',
 'church_count_3000',
 'mosque_count_3000',
 'leisure_count_3000',
 'sport_count_3000',
 'market_count_3000',
 'green_part_5000',
 'prom_part_5000',
 'office_count_5000',
 'office_sqm_5000',
 'trc_count_5000',
 'trc_sqm_5000',
 'cafe_count_5000',
 'cafe_sum_5000_min_price_avg',
 'cafe_sum_5000_max_price_avg',
 'cafe_avg_price_5000',
 'cafe_count_5000_na_price',
 'cafe_count_5000_price_500',
 'cafe_count_5000_price_1000',
 'cafe_count_5000_price_1500',
 'cafe_count_5000_price_2500',
 'cafe_count_5000_price_4000',
 'cafe_count_5000_price_high',
 'big_church_count_5000',
 'church_count_5000',
 'mosque_count_5000',
 'leisure_count_5000',
 'sport_count_5000',
 'market_count_5000',
 'timestamp_day',
 'timestamp_month',
 'timestamp_year',
 'state_refractored',
 'oil_urals',
 'gdp_quart',
 'gdp_quart_growth',
 'cpi',
 'ppi',
 'gdp_deflator',
 'balance_trade',
 'balance_trade_growth',
 'usdrub',
 'eurrub',
 'brent',
 'net_capital_export',
 'gdp_annual',
 'gdp_annual_growth',
 'average_provision_of_build_contract',
 'average_provision_of_build_contract_moscow',
 'rts',
 'micex',
 'micex_rgbi_tr',
 'micex_cbi_tr',
 'deposits_value',
 'deposits_growth',
 'deposits_rate',
 'mortgage_value',
 'mortgage_growth',
 'mortgage_rate',
 'grp',
 'grp_growth',
 'income_per_cap',
 'real_dispos_income_per_cap_growth',
 'salary',
 'salary_growth',
 'fixed_basket',
 'retail_trade_turnover',
 'retail_trade_turnover_per_cap',
 'retail_trade_turnover_growth',
 'labor_force',
 'unemployment',
 'employment',
 'invest_fixed_capital_per_cap',
 'invest_fixed_assets',
 'profitable_enterpr_share',
 'unprofitable_enterpr_share',
 'share_own_revenues',
 'overdue_wages_per_cap',
 'fin_res_per_cap',
 'marriages_per_1000_cap',
 'divorce_rate',
 'construction_value',
 'invest_fixed_assets_phys',
 'pop_natural_increase',
 'pop_migration',
 'pop_total_inc',
 'childbirth',
 'mortality',
 'housing_fund_sqm',
 'lodging_sqm_per_cap',
 'water_pipes_share',
 'baths_share',
 'sewerage_share',
 'gas_share',
 'hot_water_share',
 'electric_stove_share',
 'heating_share',
 'old_house_share',
 'average_life_exp',
 'infant_mortarity_per_1000_cap',
 'perinatal_mort_per_1000_cap',
 'incidence_population',
 'rent_price_4_room_bus',
 'rent_price_3room_bus',
 'rent_price_2room_bus',
 'rent_price_1room_bus',
 'rent_price_3room_eco',
 'rent_price_2room_eco',
 'rent_price_1room_eco',
 'load_of_teachers_preschool_per_teacher',
 'child_on_acc_pre_school',
 'load_of_teachers_school_per_teacher',
 'students_state_oneshift',
 'modern_education_share',
 'old_education_build_share',
 'provision_doctors',
 'provision_nurse',
 'load_on_doctors',
 'power_clinics',
 'hospital_beds_available_per_cap',
 'hospital_bed_occupancy_per_year',
 'provision_retail_space_sqm',
 'provision_retail_space_modern_sqm',
 'turnover_catering_per_cap',
 'theaters_viewers_per_1000_cap',
 'seats_theather_rfmin_per_100000_cap',
 'museum_visitis_per_100_cap',
 'bandwidth_sports',
 'population_reg_sports_share',
 'students_reg_sports_share',
 'apartment_build',
 'apartment_fund_sqm']

"""
Notes
ID_* columns should be embedded!
_1line are no/yes columns, so they should be labeled...
"ecology" has values of ['good', 'excellent', 'poor', 'satisfactory', 'no data'],... labelled/one-hot encoded/or embedded?
church_count_500 and other _count values integer values - bucketize them?
timestamp_day, timestamp_month, timestamp_year
"""

all_feature_columns = dedup(all_feature_columns)

_id_tag = "ID_"
_1line_tag = "_1line"
_raion_tag = "_raion"
_count_tag = "_count"
_km_tag = "_km"
_sq_tag = "_sq"

def get_subcolumns_by_tag(tag):
    global all_feature_columns
    fts = []
    for f in all_feature_columns:
        if tag in f:
            fts.append(f)
    return fts

def get_raion_columns(return_yesno=True, return_cont=False):
    global _raion_tag
    yesno_cols = []
    continuous_cols = []
    for c in get_subcolumns_by_tag(_raion_tag):
        if any(w in final_train_df[c].unique().tolist() for w in ['yes', 'no']):
            yesno_cols.append(c)
        else:
            continuous_cols.append(c)
    if return_yesno:
        return yesno_cols
    elif return_cont:
        return continuous_cols
    else:
        return yesno_cols, continuous_cols
    

integerized_embedding_columns = get_subcolumns_by_tag(_id_tag)
unlabeled_embedding_columns = ["ecology", "sub_area"]

embedding_columns = integerized_embedding_columns + unlabeled_embedding_columns


# Note: This will not modify the existing feature column(s).
# Rather, it will create a new supplemental feature column with bucketization
# Also, bucketized columns will be one-hot encoded, after being label encoded...
bucketize_columns = [
    # Specific columns to bucketize
] + get_subcolumns_by_tag(_count_tag) + get_subcolumns_by_tag(_km_tag) + get_subcolumns_by_tag(_sq_tag)

label_columns = [
    # Specific label columns to include...    
] + get_raion_columns(return_yesno=True) + get_subcolumns_by_tag(_1line_tag) + unlabeled_embedding_columns

one_hot_columns_to_be_labeled = [
    'material',
    'state_refractored',
    'product_type',
    'culture_objects_top_25',
]

integerized_label_columns = [
    'material',
    'state_refractored',
]

one_hot_columns = one_hot_columns_to_be_labeled#  + bucketize_columns (already inputed into the dnn as onehot by default...)


exclude_normalize_continuous_columns = [
    # Specific columns to exclude from normalization...
    # TODO: Should we exclude timestamp_month, day, and year??
] + one_hot_columns + label_columns + integerized_embedding_columns


normalize_continuous_columns = [c for c in all_feature_columns if c not in exclude_normalize_continuous_columns]
all_continuous_columns = [c for c in all_feature_columns if c not in one_hot_columns_to_be_labeled + label_columns + embedding_columns]

In [450]:
final_train_df = final_train_df[all_feature_columns + [LABEL]]

In [451]:
final_train_df.head()

,sport_count_5000,railroad_station_avto_min,mosque_count_500,cafe_count_5000_price_2500,trc_sqm_3000,big_road1_1line,build_count_brick,office_count_1500,healthcare_centers_raion,housing_fund_sqm,...,cafe_count_3000_price_500,perinatal_mort_per_1000_cap,load_of_teachers_preschool_per_teacher,cpi,church_count_5000,product_type,rent_price_3room_bus,cafe_count_5000_price_500,fin_res_per_cap,price_doc
0,52,6.905893,0,9,1419204,no,0.0,3,1,218.0,...,21,5.53,793.319561,354.0,22,Investment,77.93,39,226.214157,5850000
1,66,4.679745,0,15,491565,no,67.0,3,1,218.0,...,11,5.53,793.319561,354.0,29,Investment,77.93,49,226.214157,6000000
2,67,1.701420,0,10,52550,no,206.0,0,1,218.0,...,9,5.53,793.319561,354.0,27,Investment,77.93,29,226.214157,5700000
3,26,5.271136,0,11,205756,no,124.0,2,1,218.0,...,5,5.53,793.319561,353.2,4,Investment,94.02,7,226.214157,13100000
4,195,2.156284,0,319,2296870,no,643.0,93,4,218.0,...,266,5.53,793.319561,353.2,236,Investment,94.02,566,226.214157,16331452

In [452]:
final_train_df = final_train_df.convert_objects(convert_numeric=True)

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if __name__ == '__main__':

In [453]:
final_train_df.fillna(0, inplace=True)

## Create feature columns

In [454]:
SPARE_CAPACITY = 100

In [482]:
# First, continuous columns
tf_continuous_feature_columns = {}
for con_col in all_continuous_columns:
    if con_col in normalize_continuous_columns:
        mean = final_train_df[con_col].mean()
        std = final_train_df[con_col].std()
        fcol = tf.contrib.layers.real_valued_column(con_col, normalizer=lambda x : (x - mean) / std)
    else:
        fcol = tf.contrib.layers.real_valued_column(con_col)
    tf_continuous_feature_columns[con_col]  = fcol

In [483]:
tf_continuous_feature_columns

{'0_13_all': _RealValuedColumn(column_name='0_13_all', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4384ba28>),
 '0_13_female': _RealValuedColumn(column_name='0_13_female', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e426fe938>),
 '0_13_male': _RealValuedColumn(column_name='0_13_male', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e1f523758>),
 '0_17_all': _RealValuedColumn(column_name='0_17_all', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e1f526de8>),
 '0_17_female': _RealValuedColumn(column_name='0_17_female', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4382ad70>),
 '0_17_male': _RealValuedColumn(column_name='0_17_male', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e1f526aa0>),
 '0_6_all': _RealValuedColumn(column_name='0_6_all', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4382a398>),
 '0_6_female': _RealValuedColumn(column_name='0_6_female', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e1f526f50>),
 '0_6_male': _RealValuedColumn(column_name='0_6_male', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e1f5230c8>),
 '16_29_all': _RealValuedColumn(column_name='16_29_all', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4382a758>),
 '16_29_female': _RealValuedColumn(column_name='16_29_female', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e1f510050>),
 '16_29_male': _RealValuedColumn(column_name='16_29_male', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e1f5262a8>),
 '7_14_all': _RealValuedColumn(column_name='7_14_all', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e40a9fe60>),
 '7_14_female': _RealValuedColumn(column_name='7_14_female', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4270cc80>),
 '7_14_male': _RealValuedColumn(column_name='7_14_male', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4384b410>),
 'additional_education_km': _RealValuedColumn(column_name='additional_education_km', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e42710b18>),
 'additional_education_raion': _RealValuedColumn(column_name='additional_education_raion', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e1f523ed8>),
 'apartment_build': _RealValuedColumn(column_name='apartment_build', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e426feaa0>),
 'apartment_fund_sqm': _RealValuedColumn(column_name='apartment_fund_sqm', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e1f526c08>),
 'area_m': _RealValuedColumn(column_name='area_m', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e1f5238c0>),
 'average_life_exp': _RealValuedColumn(column_name='average_life_exp', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e426fe7d0>),
 'average_provision_of_build_contract': _RealValuedColumn(column_name='average_provision_of_build_contract', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e1f510d70>),
 'average_provision_of_build_contract_moscow': _RealValuedColumn(column_name='average_provision_of_build_contract_moscow', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e1f5269b0>),
 'balance_trade': _RealValuedColumn(column_name='balance_trade', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e426fed70>),
 'balance_trade_growth': _RealValuedColumn(column_name='balance_trade_growth', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4385ba28>),
 'bandwidth_sports': _RealValuedColumn(column_name='bandwidth_sports', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e1f5237d0>),
 'basketball_km': _RealValuedColumn(column_name='basketball_km', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e42710140>),
 'baths_share': _RealValuedColumn(column_name='baths_share', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4382a488>),
 'big_church_count_1000': _RealValuedColumn(column_name='big_church_count_1000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e1f51f050>),
 'big_church_count_1500': _RealValuedColumn(column_name='big_church_count_1500', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e1f51f0c8>),
 'big_church_count_2000': _RealValuedColumn(column_name='big_church_count_2000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e40a9f578>),
 'big_church_count_3000': _RealValuedColumn(column_name='big_church_count_3000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e1f523938>),
 'big_church_count_500': _RealValuedColumn(column_name='big_church_count_500', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e1f526500>),
 'big_church_count_5000': _RealValuedColumn(column_name='big_church_count_5000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4270e938>),
 'big_church_km': _RealValuedColumn(column_name='big_church_km', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e40a9fc80>),
 'big_market_km': _RealValuedColumn(column_name='big_market_km', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4385b848>),
 'big_road1_km': _RealValuedColumn(column_name='big_road1_km', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4382a230>),
 'big_road2_km': _RealValuedColumn(column_name='big_road2_km', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e42710e60>),
 'brent': _RealValuedColumn(column_name='brent', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e1f523d70>),
 'build_count_1921-1945': _RealValuedColumn(column_name='build_count_1921-1945', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e40a9faa0>),
 'build_count_1946-1970': _RealValuedColumn(column_name='build_count_1946-1970', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4270e410>),
 'build_count_1971-1995': _RealValuedColumn(column_name='build_count_1971-1995', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e1f526b90>),
 'build_count_after_1995': _RealValuedColumn(column_name='build_count_after_1995', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4384bc80>),
 'build_count_before_1920': _RealValuedColumn(column_name='build_count_before_1920', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4270e8c0>),
 'build_count_block': _RealValuedColumn(column_name='build_count_block', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e426fecf8>),
 'build_count_brick': _RealValuedColumn(column_name='build_count_brick', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e43564578>),
 'build_count_foam': _RealValuedColumn(column_name='build_count_foam', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4385baa0>),
 'build_count_frame': _RealValuedColumn(column_name='build_count_frame', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e1f5267d0>),
 'build_count_mix': _RealValuedColumn(column_name='build_count_mix', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e1f523668>),
 'build_count_monolith': _RealValuedColumn(column_name='build_count_monolith', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e1f5235f0>),
 'build_count_panel': _RealValuedColumn(column_name='build_count_panel', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e40a9f1b8>),
 'build_count_slag': _RealValuedColumn(column_name='build_count_slag', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4382aaa0>),
 'build_count_wood': _RealValuedColumn(column_name='build_count_wood', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e1f5266e0>),
 'build_year': _RealValuedColumn(column_name='build_year', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4270eb90>),
 'bulvar_ring_km': _RealValuedColumn(column_name='bulvar_ring_km', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4382a578>),
 'bus_terminal_avto_km': _RealValuedColumn(column_name='bus_terminal_avto_km', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e40a9fcf8>),
 'cafe_avg_price_1000': _RealValuedColumn(column_name='cafe_avg_price_1000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4384b0c8>),
 'cafe_avg_price_1500': _RealValuedColumn(column_name='cafe_avg_price_1500', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4270c758>),
 'cafe_avg_price_2000': _RealValuedColumn(column_name='cafe_avg_price_2000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e1f510140>),
 'cafe_avg_price_3000': _RealValuedColumn(column_name='cafe_avg_price_3000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e40a9f6e0>),
 'cafe_avg_price_500': _RealValuedColumn(column_name='cafe_avg_price_500', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4384b500>),
 'cafe_avg_price_5000': _RealValuedColumn(column_name='cafe_avg_price_5000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e1f523320>),
 'cafe_count_1000': _RealValuedColumn(column_name='cafe_count_1000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e1f523230>),
 'cafe_count_1000_na_price': _RealValuedColumn(column_name='cafe_count_1000_na_price', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4270ea28>),
 'cafe_count_1000_price_1000': _RealValuedColumn(column_name='cafe_count_1000_price_1000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4385bf50>),
 'cafe_count_1000_price_1500': _RealValuedColumn(column_name='cafe_count_1000_price_1500', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4270c668>),
 'cafe_count_1000_price_2500': _RealValuedColumn(column_name='cafe_count_1000_price_2500', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e1f526938>),
 'cafe_count_1000_price_4000': _RealValuedColumn(column_name='cafe_count_1000_price_4000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4270c6e0>),
 'cafe_count_1000_price_500': _RealValuedColumn(column_name='cafe_count_1000_price_500', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e42710500>),
 'cafe_count_1000_price_high': _RealValuedColumn(column_name='cafe_count_1000_price_high', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e1f523e60>),
 'cafe_count_1500': _RealValuedColumn(column_name='cafe_count_1500', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e427107d0>),
 'cafe_count_1500_na_price': _RealValuedColumn(column_name='cafe_count_1500_na_price', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e426fe0c8>),
 'cafe_count_1500_price_1000': _RealValuedColumn(column_name='cafe_count_1500_price_1000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4270e7d0>),
 'cafe_count_1500_price_1500': _RealValuedColumn(column_name='cafe_count_1500_price_1500', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4384b140>),
 'cafe_count_1500_price_2500': _RealValuedColumn(column_name='cafe_count_1500_price_2500', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4270ced8>),
 'cafe_count_1500_price_4000': _RealValuedColumn(column_name='cafe_count_1500_price_4000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4382aed8>),
 'cafe_count_1500_price_500': _RealValuedColumn(column_name='cafe_count_1500_price_500', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4382a8c0>),
 'cafe_count_1500_price_high': _RealValuedColumn(column_name='cafe_count_1500_price_high', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e40a9f5f0>),
 'cafe_count_2000': _RealValuedColumn(column_name='cafe_count_2000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e1f5109b0>),
 'cafe_count_2000_na_price': _RealValuedColumn(column_name='cafe_count_2000_na_price', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e40a9f758>),
 'cafe_count_2000_price_1000': _RealValuedColumn(column_name='cafe_count_2000_price_1000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e426fe230>),
 'cafe_count_2000_price_1500': _RealValuedColumn(column_name='cafe_count_2000_price_1500', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e42710c08>),
 'cafe_count_2000_price_2500': _RealValuedColumn(column_name='cafe_count_2000_price_2500', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e1f510e60>),
 'cafe_count_2000_price_4000': _RealValuedColumn(column_name='cafe_count_2000_price_4000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e40a9fd70>),
 'cafe_count_2000_price_500': _RealValuedColumn(column_name='cafe_count_2000_price_500', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e42710398>),
 'cafe_count_2000_price_high': _RealValuedColumn(column_name='cafe_count_2000_price_high', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e42710de8>),
 'cafe_count_3000': _RealValuedColumn(column_name='cafe_count_3000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e1f523f50>),
 'cafe_count_3000_na_price': _RealValuedColumn(column_name='cafe_count_3000_na_price', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e427109b0>),
 'cafe_count_3000_price_1000': _RealValuedColumn(column_name='cafe_count_3000_price_1000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4385bc08>),
 'cafe_count_3000_price_1500': _RealValuedColumn(column_name='cafe_count_3000_price_1500', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4384b9b0>),
 'cafe_count_3000_price_2500': _RealValuedColumn(column_name='cafe_count_3000_price_2500', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4270caa0>),
 'cafe_count_3000_price_4000': _RealValuedColumn(column_name='cafe_count_3000_price_4000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e1f523140>),
 'cafe_count_3000_price_500': _RealValuedColumn(column_name='cafe_count_3000_price_500', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e1f51f410>),
 'cafe_count_3000_price_high': _RealValuedColumn(column_name='cafe_count_3000_price_high', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4382a0c8>),
 'cafe_count_500': _RealValuedColumn(column_name='cafe_count_500', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e1f5239b0>),
 'cafe_count_5000': _RealValuedColumn(column_name='cafe_count_5000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e40a9fb90>),
 'cafe_count_5000_na_price': _RealValuedColumn(column_name='cafe_count_5000_na_price', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e426fe500>),
 'cafe_count_5000_price_1000': _RealValuedColumn(column_name='cafe_count_5000_price_1000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e42710488>),
 'cafe_count_5000_price_1500': _RealValuedColumn(column_name='cafe_count_5000_price_1500', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4384bcf8>),
 'cafe_count_5000_price_2500': _RealValuedColumn(column_name='cafe_count_5000_price_2500', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e439b0cf8>),
 'cafe_count_5000_price_4000': _RealValuedColumn(column_name='cafe_count_5000_price_4000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4270c848>),
 'cafe_count_5000_price_500': _RealValuedColumn(column_name='cafe_count_5000_price_500', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e1f51f6e0>),
 'cafe_count_5000_price_high': _RealValuedColumn(column_name='cafe_count_5000_price_high', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e426fe848>),
 'cafe_count_500_na_price': _RealValuedColumn(column_name='cafe_count_500_na_price', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4270e500>),
 'cafe_count_500_price_1000': _RealValuedColumn(column_name='cafe_count_500_price_1000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e426feb18>),
 'cafe_count_500_price_1500': _RealValuedColumn(column_name='cafe_count_500_price_1500', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4384b938>),
 'cafe_count_500_price_2500': _RealValuedColumn(column_name='cafe_count_500_price_2500', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e426fe1b8>),
 'cafe_count_500_price_4000': _RealValuedColumn(column_name='cafe_count_500_price_4000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4270c5f0>),
 'cafe_count_500_price_500': _RealValuedColumn(column_name='cafe_count_500_price_500', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4270c488>),
 'cafe_count_500_price_high': _RealValuedColumn(column_name='cafe_count_500_price_high', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e1f51f320>),
 'cafe_sum_1000_max_price_avg': _RealValuedColumn(column_name='cafe_sum_1000_max_price_avg', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e1f526d70>),

In [484]:
# Now, integerized columns
tf_integerized_feature_columns = {}
for integerized_col in integerized_embedding_columns:
    fcol = tf.contrib.layers.sparse_column_with_integerized_feature(integerized_col, bucket_size=max(final_train_df[integerized_col].values.ravel().tolist()) + SPARE_CAPACITY)
    tf_integerized_feature_columns[integerized_col] = fcol

WARNING:tensorflow:The default value of combiner will change from "sum" to "sqrtn" after 2016/11/01.
WARNING:tensorflow:The default value of combiner will change from "sum" to "sqrtn" after 2016/11/01.
WARNING:tensorflow:The default value of combiner will change from "sum" to "sqrtn" after 2016/11/01.
WARNING:tensorflow:The default value of combiner will change from "sum" to "sqrtn" after 2016/11/01.
WARNING:tensorflow:The default value of combiner will change from "sum" to "sqrtn" after 2016/11/01.
WARNING:tensorflow:The default value of combiner will change from "sum" to "sqrtn" after 2016/11/01.
WARNING:tensorflow:The default value of combiner will change from "sum" to "sqrtn" after 2016/11/01.

In [485]:
tf_integerized_feature_columns

{'ID_big_road1': _SparseColumn(column_name='ID_big_road1', is_integerized=True, bucket_size=148, lookup_config=None, combiner='sum', dtype=tf.int64),
 'ID_big_road2': _SparseColumn(column_name='ID_big_road2', is_integerized=True, bucket_size=158, lookup_config=None, combiner='sum', dtype=tf.int64),
 'ID_bus_terminal': _SparseColumn(column_name='ID_bus_terminal', is_integerized=True, bucket_size=114, lookup_config=None, combiner='sum', dtype=tf.int64),
 'ID_metro': _SparseColumn(column_name='ID_metro', is_integerized=True, bucket_size=323, lookup_config=None, combiner='sum', dtype=tf.int64),
 'ID_railroad_station_avto': _SparseColumn(column_name='ID_railroad_station_avto', is_integerized=True, bucket_size=238, lookup_config=None, combiner='sum', dtype=tf.int64),
 'ID_railroad_station_walk': _SparseColumn(column_name='ID_railroad_station_walk', is_integerized=True, bucket_size=233, lookup_config=None, combiner='sum', dtype=tf.int64),
 'ID_railroad_terminal': _SparseColumn(column_name='ID_railroad_terminal', is_integerized=True, bucket_size=221, lookup_config=None, combiner='sum', dtype=tf.int64)}

In [486]:
# Now, embedding columns
tf_embedding_feature_columns = {}
for embed_col in embedding_columns:
    if embed_col in unlabeled_embedding_columns:
        bucket_size = len(final_train_df[embed_col].unique().ravel().tolist()) + SPARE_CAPACITY
        dimensions = determine_dimensions(len(final_train_df[embed_col].unique().ravel().tolist()) + int(SPARE_CAPACITY))
        fcol = tf.contrib.layers.scattered_embedding_column( embed_col, size=bucket_size * dimensions, dimension=dimensions, hash_key=tf.contrib.layers.SPARSE_FEATURE_CROSS_DEFAULT_HASH_KEY)
        tf_embedding_feature_columns[embed_col] = fcol
    else:
        # this is an integerized sparse column
        dimensions = determine_dimensions(len(final_train_df[embed_col].unique().ravel().tolist()) + int(SPARE_CAPACITY))
        fcol = tf.contrib.layers.embedding_column(tf_integerized_feature_columns[embed_col], dimension = dimensions)
        tf_embedding_feature_columns[embed_col] = fcol

WARNING:tensorflow:The default value of combiner will change from "mean" to "sqrtn" after 2016/11/01.
WARNING:tensorflow:The default value of combiner will change from "mean" to "sqrtn" after 2016/11/01.
WARNING:tensorflow:The default value of combiner will change from "mean" to "sqrtn" after 2016/11/01.
WARNING:tensorflow:The default value of combiner will change from "mean" to "sqrtn" after 2016/11/01.
WARNING:tensorflow:The default value of combiner will change from "mean" to "sqrtn" after 2016/11/01.
WARNING:tensorflow:The default value of combiner will change from "mean" to "sqrtn" after 2016/11/01.
WARNING:tensorflow:The default value of combiner will change from "mean" to "sqrtn" after 2016/11/01.
WARNING:tensorflow:The default value of combiner will change from "mean" to "sqrtn" after 2016/11/01.
WARNING:tensorflow:The default value of combiner will change from "mean" to "sqrtn" after 2016/11/01.

In [487]:
tf_embedding_feature_columns

{'ID_big_road1': _EmbeddingColumn(sparse_id_column=_SparseColumn(column_name='ID_big_road1', is_integerized=True, bucket_size=148, lookup_config=None, combiner='sum', dtype=tf.int64), dimension=7, combiner='mean', initializer=<tensorflow.python.ops.init_ops.TruncatedNormal object at 0x7f5e1f534fd0>, ckpt_to_load_from=None, tensor_name_in_ckpt=None, shared_embedding_name=None, shared_vocab_size=None, max_norm=None),
 'ID_big_road2': _EmbeddingColumn(sparse_id_column=_SparseColumn(column_name='ID_big_road2', is_integerized=True, bucket_size=158, lookup_config=None, combiner='sum', dtype=tf.int64), dimension=7, combiner='mean', initializer=<tensorflow.python.ops.init_ops.TruncatedNormal object at 0x7f5e1f534f90>, ckpt_to_load_from=None, tensor_name_in_ckpt=None, shared_embedding_name=None, shared_vocab_size=None, max_norm=None),
 'ID_bus_terminal': _EmbeddingColumn(sparse_id_column=_SparseColumn(column_name='ID_bus_terminal', is_integerized=True, bucket_size=114, lookup_config=None, combiner='sum', dtype=tf.int64), dimension=6, combiner='mean', initializer=<tensorflow.python.ops.init_ops.TruncatedNormal object at 0x7f5e1f534ed0>, ckpt_to_load_from=None, tensor_name_in_ckpt=None, shared_embedding_name=None, shared_vocab_size=None, max_norm=None),
 'ID_metro': _EmbeddingColumn(sparse_id_column=_SparseColumn(column_name='ID_metro', is_integerized=True, bucket_size=323, lookup_config=None, combiner='sum', dtype=tf.int64), dimension=8, combiner='mean', initializer=<tensorflow.python.ops.init_ops.TruncatedNormal object at 0x7f5e1f534f10>, ckpt_to_load_from=None, tensor_name_in_ckpt=None, shared_embedding_name=None, shared_vocab_size=None, max_norm=None),
 'ID_railroad_station_avto': _EmbeddingColumn(sparse_id_column=_SparseColumn(column_name='ID_railroad_station_avto', is_integerized=True, bucket_size=238, lookup_config=None, combiner='sum', dtype=tf.int64), dimension=7, combiner='mean', initializer=<tensorflow.python.ops.init_ops.TruncatedNormal object at 0x7f5e1f534f50>, ckpt_to_load_from=None, tensor_name_in_ckpt=None, shared_embedding_name=None, shared_vocab_size=None, max_norm=None),
 'ID_railroad_station_walk': _EmbeddingColumn(sparse_id_column=_SparseColumn(column_name='ID_railroad_station_walk', is_integerized=True, bucket_size=233, lookup_config=None, combiner='sum', dtype=tf.int64), dimension=7, combiner='mean', initializer=<tensorflow.python.ops.init_ops.TruncatedNormal object at 0x7f5e1ee45b50>, ckpt_to_load_from=None, tensor_name_in_ckpt=None, shared_embedding_name=None, shared_vocab_size=None, max_norm=None),
 'ID_railroad_terminal': _EmbeddingColumn(sparse_id_column=_SparseColumn(column_name='ID_railroad_terminal', is_integerized=True, bucket_size=221, lookup_config=None, combiner='sum', dtype=tf.int64), dimension=6, combiner='mean', initializer=<tensorflow.python.ops.init_ops.TruncatedNormal object at 0x7f5e1f534dd0>, ckpt_to_load_from=None, tensor_name_in_ckpt=None, shared_embedding_name=None, shared_vocab_size=None, max_norm=None),
 'ecology': _ScatteredEmbeddingColumn(column_name='ecology', size=630, dimension=6, hash_key=956888297470, combiner='mean', initializer=<tensorflow.python.ops.init_ops.TruncatedNormal object at 0x7f5e41696050>),
 'sub_area': _ScatteredEmbeddingColumn(column_name='sub_area', size=1722, dimension=7, hash_key=956888297470, combiner='mean', initializer=<tensorflow.python.ops.init_ops.TruncatedNormal object at 0x7f5e416960d0>)}

In [488]:
# Now, label columns
tf_label_feature_columns = {}
for label_col in label_columns + one_hot_columns_to_be_labeled:
    if label_col not in unlabeled_embedding_columns:
        # We've already covered embedding columns
        if label_col in integerized_label_columns:
            fcol = tf.contrib.layers.sparse_column_with_integerized_feature(label_col, bucket_size=max(final_train_df[label_col].values.ravel().tolist()) + SPARE_CAPACITY)
        else:
            num_unique = len(final_train_df[label_col].unique().ravel().tolist())
            fcol = tf.contrib.layers.sparse_column_with_hash_bucket(label_col, num_unique + SPARE_CAPACITY)
        tf_label_feature_columns[label_col] = fcol

WARNING:tensorflow:The default value of combiner will change from "sum" to "sqrtn" after 2016/11/01.
WARNING:tensorflow:The default value of combiner will change from "sum" to "sqrtn" after 2016/11/01.
WARNING:tensorflow:The default value of combiner will change from "sum" to "sqrtn" after 2016/11/01.
WARNING:tensorflow:The default value of combiner will change from "sum" to "sqrtn" after 2016/11/01.
WARNING:tensorflow:The default value of combiner will change from "sum" to "sqrtn" after 2016/11/01.
WARNING:tensorflow:The default value of combiner will change from "sum" to "sqrtn" after 2016/11/01.
WARNING:tensorflow:The default value of combiner will change from "sum" to "sqrtn" after 2016/11/01.
WARNING:tensorflow:The default value of combiner will change from "sum" to "sqrtn" after 2016/11/01.
WARNING:tensorflow:The default value of combiner will change from "sum" to "sqrtn" after 2016/11/01.
WARNING:tensorflow:The default value of combiner will change from "sum" to "sqrtn" after 2016/11/01.
WARNING:tensorflow:The default value of combiner will change from "sum" to "sqrtn" after 2016/11/01.
WARNING:tensorflow:The default value of combiner will change from "sum" to "sqrtn" after 2016/11/01.
WARNING:tensorflow:The default value of combiner will change from "sum" to "sqrtn" after 2016/11/01.
WARNING:tensorflow:The default value of combiner will change from "sum" to "sqrtn" after 2016/11/01.
WARNING:tensorflow:The default value of combiner will change from "sum" to "sqrtn" after 2016/11/01.

In [489]:
tf_label_feature_columns

{'big_market_raion': _SparseColumn(column_name='big_market_raion', is_integerized=False, bucket_size=102, lookup_config=None, combiner='sum', dtype=tf.string),
 'big_road1_1line': _SparseColumn(column_name='big_road1_1line', is_integerized=False, bucket_size=102, lookup_config=None, combiner='sum', dtype=tf.string),
 'culture_objects_top_25': _SparseColumn(column_name='culture_objects_top_25', is_integerized=False, bucket_size=102, lookup_config=None, combiner='sum', dtype=tf.string),
 'detention_facility_raion': _SparseColumn(column_name='detention_facility_raion', is_integerized=False, bucket_size=102, lookup_config=None, combiner='sum', dtype=tf.string),
 'incineration_raion': _SparseColumn(column_name='incineration_raion', is_integerized=False, bucket_size=102, lookup_config=None, combiner='sum', dtype=tf.string),
 'material': _SparseColumn(column_name='material', is_integerized=True, bucket_size=106, lookup_config=None, combiner='sum', dtype=tf.int64),
 'nuclear_reactor_raion': _SparseColumn(column_name='nuclear_reactor_raion', is_integerized=False, bucket_size=102, lookup_config=None, combiner='sum', dtype=tf.string),
 'oil_chemistry_raion': _SparseColumn(column_name='oil_chemistry_raion', is_integerized=False, bucket_size=102, lookup_config=None, combiner='sum', dtype=tf.string),
 'product_type': _SparseColumn(column_name='product_type', is_integerized=False, bucket_size=102, lookup_config=None, combiner='sum', dtype=tf.string),
 'radiation_raion': _SparseColumn(column_name='radiation_raion', is_integerized=False, bucket_size=102, lookup_config=None, combiner='sum', dtype=tf.string),
 'railroad_1line': _SparseColumn(column_name='railroad_1line', is_integerized=False, bucket_size=102, lookup_config=None, combiner='sum', dtype=tf.string),
 'railroad_terminal_raion': _SparseColumn(column_name='railroad_terminal_raion', is_integerized=False, bucket_size=102, lookup_config=None, combiner='sum', dtype=tf.string),
 'state_refractored': _SparseColumn(column_name='state_refractored', is_integerized=True, bucket_size=105, lookup_config=None, combiner='sum', dtype=tf.int64),
 'thermal_power_plant_raion': _SparseColumn(column_name='thermal_power_plant_raion', is_integerized=False, bucket_size=102, lookup_config=None, combiner='sum', dtype=tf.string),
 'water_1line': _SparseColumn(column_name='water_1line', is_integerized=False, bucket_size=102, lookup_config=None, combiner='sum', dtype=tf.string)}

In [490]:
# Now, bucketized columns
tf_bucket_feature_columns = {}
for bcol in bucketize_columns:
    boundaries = get_bin_boundaries(final_train_df, bcol)
    tf_bucket_feature_columns[bcol] = tf.contrib.layers.bucketized_column(tf.contrib.layers.real_valued_column(bcol + "_bucketized_feature"), boundaries)

In [491]:
tf_bucket_feature_columns

{'additional_education_km': _BucketizedColumn(source_column=_RealValuedColumn(column_name='additional_education_km_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0)),
 'apartment_fund_sqm': _BucketizedColumn(source_column=_RealValuedColumn(column_name='apartment_fund_sqm_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(226047.0, 228814.0, 231581.0, 234348.0)),
 'basketball_km': _BucketizedColumn(source_column=_RealValuedColumn(column_name='basketball_km_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 5.0, 10.0, 15.0, 20.0, 25.0, 30.0, 35.0, 40.0, 45.0, 50.0, 55.0)),
 'big_church_count_1000': _BucketizedColumn(source_column=_RealValuedColumn(column_name='big_church_count_1000_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 2.0, 4.0, 6.0, 8.0, 10.0, 12.0, 14.0, 16.0, 18.0, 20.0, 22.0, 24.0, 26.0)),
 'big_church_count_1500': _BucketizedColumn(source_column=_RealValuedColumn(column_name='big_church_count_1500_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 6.0, 12.0, 18.0, 24.0, 30.0, 36.0, 42.0)),
 'big_church_count_2000': _BucketizedColumn(source_column=_RealValuedColumn(column_name='big_church_count_2000_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 10.0, 20.0, 30.0, 40.0, 50.0, 60.0)),
 'big_church_count_3000': _BucketizedColumn(source_column=_RealValuedColumn(column_name='big_church_count_3000_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 15.0, 30.0, 45.0, 60.0, 75.0, 90.0)),
 'big_church_count_500': _BucketizedColumn(source_column=_RealValuedColumn(column_name='big_church_count_500_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0)),
 'big_church_count_5000': _BucketizedColumn(source_column=_RealValuedColumn(column_name='big_church_count_5000_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 29.0, 58.0, 87.0, 116.0, 145.0)),
 'big_church_km': _BucketizedColumn(source_column=_RealValuedColumn(column_name='big_church_km_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 2.0, 4.0, 6.0, 8.0, 10.0, 12.0, 14.0, 16.0, 18.0, 20.0, 22.0, 24.0, 26.0, 28.0, 30.0, 32.0, 34.0, 36.0, 38.0, 40.0, 42.0, 44.0)),
 'big_market_km': _BucketizedColumn(source_column=_RealValuedColumn(column_name='big_market_km_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 8.0, 16.0, 24.0, 32.0, 40.0, 48.0, 56.0)),
 'big_road1_km': _BucketizedColumn(source_column=_RealValuedColumn(column_name='big_road1_km_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 1.0, 2.0, 3.0, 4.0, 5.0)),
 'big_road2_km': _BucketizedColumn(source_column=_RealValuedColumn(column_name='big_road2_km_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0)),
 'build_count_1921-1945': _BucketizedColumn(source_column=_RealValuedColumn(column_name='build_count_1921-1945_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 58.0, 116.0, 174.0, 232.0, 290.0, 348.0)),
 'build_count_1946-1970': _BucketizedColumn(source_column=_RealValuedColumn(column_name='build_count_1946-1970_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 126.0, 252.0, 378.0, 504.0, 630.0, 756.0)),
 'build_count_1971-1995': _BucketizedColumn(source_column=_RealValuedColumn(column_name='build_count_1971-1995_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 60.0, 120.0, 180.0, 240.0)),
 'build_count_after_1995': _BucketizedColumn(source_column=_RealValuedColumn(column_name='build_count_after_1995_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 106.0, 212.0, 318.0, 424.0, 530.0, 636.0, 742.0)),
 'build_count_before_1920': _BucketizedColumn(source_column=_RealValuedColumn(column_name='build_count_before_1920_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 56.0, 112.0, 168.0, 224.0, 280.0, 336.0)),
 'build_count_block': _BucketizedColumn(source_column=_RealValuedColumn(column_name='build_count_block_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 46.0, 92.0, 138.0, 184.0)),
 'build_count_brick': _BucketizedColumn(source_column=_RealValuedColumn(column_name='build_count_brick_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 124.0, 248.0, 372.0, 496.0, 620.0)),
 'build_count_foam': _BucketizedColumn(source_column=_RealValuedColumn(column_name='build_count_foam_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0)),
 'build_count_frame': _BucketizedColumn(source_column=_RealValuedColumn(column_name='build_count_frame_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 13.0, 26.0, 39.0, 52.0, 65.0, 78.0, 91.0)),
 'build_count_mix': _BucketizedColumn(source_column=_RealValuedColumn(column_name='build_count_mix_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0)),
 'build_count_monolith': _BucketizedColumn(source_column=_RealValuedColumn(column_name='build_count_monolith_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 18.0, 36.0, 54.0, 72.0, 90.0, 108.0, 126.0)),
 'build_count_panel': _BucketizedColumn(source_column=_RealValuedColumn(column_name='build_count_panel_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 89.0, 178.0, 267.0, 356.0)),
 'build_count_slag': _BucketizedColumn(source_column=_RealValuedColumn(column_name='build_count_slag_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 12.0, 24.0, 36.0, 48.0, 60.0, 72.0)),
 'build_count_wood': _BucketizedColumn(source_column=_RealValuedColumn(column_name='build_count_wood_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 116.0, 232.0, 348.0, 464.0, 580.0, 696.0)),
 'bulvar_ring_km': _BucketizedColumn(source_column=_RealValuedColumn(column_name='bulvar_ring_km_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 8.0, 16.0, 24.0, 32.0, 40.0, 48.0, 56.0, 64.0)),
 'bus_terminal_avto_km': _BucketizedColumn(source_column=_RealValuedColumn(column_name='bus_terminal_avto_km_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 7.0, 14.0, 21.0, 28.0, 35.0, 42.0, 49.0, 56.0, 63.0, 70.0)),
 'cafe_count_1000': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_1000_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 47.0, 94.0, 141.0, 188.0, 235.0, 282.0, 329.0, 376.0, 423.0)),
 'cafe_count_1000_na_price': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_1000_na_price_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 3.0, 6.0, 9.0, 12.0, 15.0, 18.0, 21.0, 24.0, 27.0)),
 'cafe_count_1000_price_1000': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_1000_price_1000_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 9.0, 18.0, 27.0, 36.0, 45.0, 54.0, 63.0, 72.0, 81.0, 90.0, 99.0)),
 'cafe_count_1000_price_1500': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_1000_price_1500_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 10.0, 20.0, 30.0, 40.0, 50.0, 60.0, 70.0, 80.0, 90.0, 100.0)),
 'cafe_count_1000_price_2500': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_1000_price_2500_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 7.0, 14.0, 21.0, 28.0, 35.0, 42.0, 49.0, 56.0, 63.0, 70.0, 77.0)),
 'cafe_count_1000_price_4000': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_1000_price_4000_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 3.0, 6.0, 9.0, 12.0, 15.0, 18.0, 21.0, 24.0, 27.0, 30.0, 33.0, 36.0, 39.0)),
 'cafe_count_1000_price_500': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_1000_price_500_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 13.0, 26.0, 39.0, 52.0, 65.0, 78.0, 91.0, 104.0)),
 'cafe_count_1000_price_high': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_1000_price_high_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 7.0)),
 'cafe_count_1500': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_1500_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 97.0, 194.0, 291.0, 388.0, 485.0, 582.0, 679.0, 776.0)),
 'cafe_count_1500_na_price': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_1500_na_price_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 5.0, 10.0, 15.0, 20.0, 25.0, 30.0, 35.0, 40.0, 45.0, 50.0)),
 'cafe_count_1500_price_1000': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_1500_price_1000_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 22.0, 44.0, 66.0, 88.0, 110.0, 132.0, 154.0, 176.0)),
 'cafe_count_1500_price_1500': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_1500_price_1500_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 24.0, 48.0, 72.0, 96.0, 120.0, 144.0, 168.0)),
 'cafe_count_1500_price_2500': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_1500_price_2500_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 13.0, 26.0, 39.0, 52.0, 65.0, 78.0, 91.0, 104.0, 117.0)),
 'cafe_count_1500_price_4000': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_1500_price_4000_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 6.0, 12.0, 18.0, 24.0, 30.0, 36.0, 42.0, 48.0, 54.0)),
 'cafe_count_1500_price_500': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_1500_price_500_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 24.0, 48.0, 72.0, 96.0, 120.0, 144.0, 168.0, 192.0)),
 'cafe_count_1500_price_high': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_1500_price_high_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 12.0)),
 'cafe_count_2000': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_2000_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 161.0, 322.0, 483.0, 644.0, 805.0, 966.0)),
 'cafe_count_2000_na_price': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_2000_na_price_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 10.0, 20.0, 30.0, 40.0, 50.0, 60.0)),
 'cafe_count_2000_price_1000': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_2000_price_1000_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 39.0, 78.0, 117.0, 156.0, 195.0, 234.0)),
 'cafe_count_2000_price_1500': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_2000_price_1500_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 39.0, 78.0, 117.0, 156.0, 195.0, 234.0)),
 'cafe_count_2000_price_2500': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_2000_price_2500_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 23.0, 46.0, 69.0, 92.0, 115.0, 138.0, 161.0)),
 'cafe_count_2000_price_4000': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_2000_price_4000_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 9.0, 18.0, 27.0, 36.0, 45.0, 54.0, 63.0, 72.0)),
 'cafe_count_2000_price_500': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_2000_price_500_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 39.0, 78.0, 117.0, 156.0, 195.0, 234.0, 273.0)),
 'cafe_count_2000_price_high': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_2000_price_high_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0)),
 'cafe_count_3000': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_3000_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 290.0, 580.0, 870.0, 1160.0, 1450.0, 1740.0)),
 'cafe_count_3000_na_price': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_3000_na_price_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 18.0, 36.0, 54.0, 72.0, 90.0, 108.0)),
 'cafe_count_3000_price_1000': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_3000_price_1000_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 69.0, 138.0, 207.0, 276.0, 345.0, 414.0)),
 'cafe_count_3000_price_1500': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_3000_price_1500_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 70.0, 140.0, 210.0, 280.0, 350.0, 420.0)),
 'cafe_count_3000_price_2500': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_3000_price_2500_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 41.0, 82.0, 123.0, 164.0, 205.0, 246.0)),
 'cafe_count_3000_price_4000': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_3000_price_4000_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 16.0, 32.0, 48.0, 64.0, 80.0, 96.0, 112.0)),
 'cafe_count_3000_price_500': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_3000_price_500_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 71.0, 142.0, 213.0, 284.0, 355.0, 426.0)),
 'cafe_count_3000_price_high': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_3000_price_high_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 2.0, 4.0, 6.0, 8.0, 10.0, 12.0, 14.0, 16.0, 18.0, 20.0, 22.0)),
 'cafe_count_500': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_500_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 11.0, 22.0, 33.0, 44.0, 55.0, 66.0, 77.0, 88.0, 99.0, 110.0)),
 'cafe_count_5000': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_5000_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 514.0, 1028.0, 1542.0, 2056.0, 2570.0)),
 'cafe_count_5000_na_price': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_5000_na_price_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 33.0, 66.0, 99.0, 132.0, 165.0)),
 'cafe_count_5000_price_1000': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_5000_price_1000_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 126.0, 252.0, 378.0, 504.0, 630.0)),
 'cafe_count_5000_price_1500': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_5000_price_1500_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 124.0, 248.0, 372.0, 496.0, 620.0)),
 'cafe_count_5000_price_2500': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_5000_price_2500_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 73.0, 146.0, 219.0, 292.0, 365.0)),
 'cafe_count_5000_price_4000': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_5000_price_4000_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 28.0, 56.0, 84.0, 112.0, 140.0)),
 'cafe_count_5000_price_500': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_5000_price_500_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 125.0, 250.0, 375.0, 500.0, 625.0)),
 'cafe_count_5000_price_high': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_5000_price_high_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 5.0, 10.0, 15.0, 20.0, 25.0)),
 'cafe_count_500_na_price': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_500_na_price_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0)),
 'cafe_count_500_price_1000': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_500_price_1000_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 2.0, 4.0, 6.0, 8.0, 10.0, 12.0, 14.0, 16.0, 18.0, 20.0, 22.0, 24.0, 26.0, 28.0, 30.0, 32.0, 34.0, 36.0, 38.0)),
 'cafe_count_500_price_1500': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_500_price_1500_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 2.0, 4.0, 6.0, 8.0, 10.0, 12.0, 14.0, 16.0, 18.0, 20.0, 22.0, 24.0, 26.0, 28.0)),
 'cafe_count_500_price_2500': _BucketizedColumn(source_column=_RealValuedColumn(column_name='cafe_count_500_price_2500_bucketized_feature', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), boundaries=(0.0, 2.0, 4.0, 6.0, 8.0, 10.0, 12.0, 14.0, 16.0, 18.0, 20.0)),

In [492]:
# Now, one-hot columns
tf_onehot_feature_columns = {}
for onehot_col in one_hot_columns:
    if onehot_col in one_hot_columns_to_be_labeled:
        fcol = tf.contrib.layers.one_hot_column(tf_label_feature_columns[onehot_col])
        tf_onehot_feature_columns[onehot_col] = fcol

In [493]:
tf_onehot_feature_columns

{'culture_objects_top_25': _OneHotColumn(sparse_id_column=_SparseColumn(column_name='culture_objects_top_25', is_integerized=False, bucket_size=102, lookup_config=None, combiner='sum', dtype=tf.string)),
 'material': _OneHotColumn(sparse_id_column=_SparseColumn(column_name='material', is_integerized=True, bucket_size=106, lookup_config=None, combiner='sum', dtype=tf.int64)),
 'product_type': _OneHotColumn(sparse_id_column=_SparseColumn(column_name='product_type', is_integerized=False, bucket_size=102, lookup_config=None, combiner='sum', dtype=tf.string)),
 'state_refractored': _OneHotColumn(sparse_id_column=_SparseColumn(column_name='state_refractored', is_integerized=True, bucket_size=105, lookup_config=None, combiner='sum', dtype=tf.int64))}

In [494]:
# Some integerized feature columns have float ids that represent integers,
# so cast these float ids to integer ids
for c in integerized_embedding_columns + integerized_label_columns:
    final_train_df[c] =  final_train_df[c].astype(int)

In [495]:
TF_INPUT_FEATURE_COLS = tf_continuous_feature_columns.values() + tf_embedding_feature_columns.values() + tf_onehot_feature_columns.values() + tf_bucket_feature_columns.values()

In [496]:
TF_INPUT_FEATURE_COLS

[_RealValuedColumn(column_name='sport_count_5000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e439b08c0>),
 _RealValuedColumn(column_name='radiation_km', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4385bd70>),
 _RealValuedColumn(column_name='mosque_count_500', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e439b0c80>),
 _RealValuedColumn(column_name='cafe_count_5000_price_2500', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e439b0cf8>),
 _RealValuedColumn(column_name='trc_sqm_3000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4040d488>),
 _RealValuedColumn(column_name='build_count_brick', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e43564578>),
 _RealValuedColumn(column_name='office_count_1500', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e43564320>),
 _RealValuedColumn(column_name='healthcare_centers_raion', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4385b8c0>),
 _RealValuedColumn(column_name='housing_fund_sqm', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4385b9b0>),
 _RealValuedColumn(column_name='heating_share', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4385bb18>),
 _RealValuedColumn(column_name='catering_km', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e413c38c0>),
 _RealValuedColumn(column_name='office_count_500', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e3c721b90>),
 _RealValuedColumn(column_name='big_market_km', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4385b848>),
 _RealValuedColumn(column_name='museum_km', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4385be60>),
 _RealValuedColumn(column_name='big_road1_km', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4382a230>),
 _RealValuedColumn(column_name='metro_km_avto', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4385bed8>),
 _RealValuedColumn(column_name='railroad_station_avto_min', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e439b0938>),
 _RealValuedColumn(column_name='cafe_count_1000_price_1000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4385bf50>),
 _RealValuedColumn(column_name='build_count_foam', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4385baa0>),
 _RealValuedColumn(column_name='cafe_count_3000_price_1000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4385bc08>),
 _RealValuedColumn(column_name='ice_rink_km', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4385bde8>),
 _RealValuedColumn(column_name='balance_trade_growth', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4385ba28>),
 _RealValuedColumn(column_name='leisure_count_1000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4384b050>),
 _RealValuedColumn(column_name='cafe_avg_price_1000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4384b0c8>),
 _RealValuedColumn(column_name='cafe_count_1500_price_1500', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4384b140>),
 _RealValuedColumn(column_name='rts', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e426feb90>),
 _RealValuedColumn(column_name='trc_count_500', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4384b230>),
 _RealValuedColumn(column_name='industrial_km', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4384b2a8>),
 _RealValuedColumn(column_name='profitable_enterpr_share', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4384b320>),
 _RealValuedColumn(column_name='office_sqm_1000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4384b398>),
 _RealValuedColumn(column_name='7_14_male', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4384b410>),
 _RealValuedColumn(column_name='load_of_teachers_school_per_teacher', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4384b488>),
 _RealValuedColumn(column_name='cafe_avg_price_1500', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4270c758>),
 _RealValuedColumn(column_name='cafe_sum_1500_max_price_avg', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4384b578>),
 _RealValuedColumn(column_name='leisure_count_2000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4384b5f0>),
 _RealValuedColumn(column_name='sport_objects_raion', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4384b668>),
 _RealValuedColumn(column_name='oil_chemistry_km', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4384b6e0>),
 _RealValuedColumn(column_name='museum_visitis_per_100_cap', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4384b758>),
 _RealValuedColumn(column_name='trc_count_2000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4384b7d0>),
 _RealValuedColumn(column_name='students_state_oneshift', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4384b848>),
 _RealValuedColumn(column_name='mortgage_value', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4384b8c0>),
 _RealValuedColumn(column_name='cafe_count_500_price_1500', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4384b938>),
 _RealValuedColumn(column_name='cafe_count_3000_price_1500', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4384b9b0>),
 _RealValuedColumn(column_name='0_13_all', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4384ba28>),
 _RealValuedColumn(column_name='cafe_sum_1000_min_price_avg', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4384baa0>),
 _RealValuedColumn(column_name='green_part_500', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4384bb18>),
 _RealValuedColumn(column_name='pop_natural_increase', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4384bb90>),
 _RealValuedColumn(column_name='retail_trade_turnover_growth', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4384bc08>),
 _RealValuedColumn(column_name='build_count_after_1995', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4384bc80>),
 _RealValuedColumn(column_name='detention_facility_km', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e427102a8>),
 _RealValuedColumn(column_name='oil_urals', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4384bd70>),
 _RealValuedColumn(column_name='school_education_centers_raion', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4384bde8>),
 _RealValuedColumn(column_name='raion_build_count_with_builddate_info', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4384be60>),
 _RealValuedColumn(column_name='public_transport_station_km', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4384bed8>),
 _RealValuedColumn(column_name='sport_count_2000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4384bf50>),
 _RealValuedColumn(column_name='sadovoe_km', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4382a050>),
 _RealValuedColumn(column_name='cafe_count_3000_price_high', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4382a0c8>),
 _RealValuedColumn(column_name='timestamp_day', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4382a140>),
 _RealValuedColumn(column_name='old_house_share', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4382a1b8>),
 _RealValuedColumn(column_name='water_pipes_share', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4382a2a8>),
 _RealValuedColumn(column_name='unprofitable_enterpr_share', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4382a320>),
 _RealValuedColumn(column_name='0_6_all', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4382a398>),
 _RealValuedColumn(column_name='life_sq', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4382a410>),
 _RealValuedColumn(column_name='baths_share', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4382a488>),
 _RealValuedColumn(column_name='trc_count_1500', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4382a500>),
 _RealValuedColumn(column_name='bulvar_ring_km', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4382a578>),
 _RealValuedColumn(column_name='market_count_1000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4382a5f0>),
 _RealValuedColumn(column_name='invest_fixed_assets_phys', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4382a668>),
 _RealValuedColumn(column_name='gdp_quart', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4382a6e0>),
 _RealValuedColumn(column_name='16_29_all', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4382a758>),
 _RealValuedColumn(column_name='green_zone_part', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4382a7d0>),
 _RealValuedColumn(column_name='school_education_centers_top_20_raion', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4382a848>),
 _RealValuedColumn(column_name='cafe_count_1500_price_500', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4382a8c0>),
 _RealValuedColumn(column_name='old_education_build_share', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4382a938>),
 _RealValuedColumn(column_name='young_female', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4382a9b0>),
 _RealValuedColumn(column_name='incidence_population', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4382aa28>),
 _RealValuedColumn(column_name='build_count_slag', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4382aaa0>),
 _RealValuedColumn(column_name='raion_build_count_with_material_info', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4382ab18>),
 _RealValuedColumn(column_name='metro_km_walk', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4382ab90>),
 _RealValuedColumn(column_name='culture_objects_top_25_raion', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4382ac08>),
 _RealValuedColumn(column_name='rent_price_2room_bus', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4382ac80>),
 _RealValuedColumn(column_name='swim_pool_km', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4382acf8>),
 _RealValuedColumn(column_name='0_17_female', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4382ad70>),
 _RealValuedColumn(column_name='invest_fixed_capital_per_cap', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4382ade8>),
 _RealValuedColumn(column_name='cafe_count_1000_price_500', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e42710500>),
 _RealValuedColumn(column_name='cafe_count_1500_price_4000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4382aed8>),
 _RealValuedColumn(column_name='green_part_3000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4382af50>),
 _RealValuedColumn(column_name='build_count_1921-1945', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e40a9faa0>),
 _RealValuedColumn(column_name='preschool_km', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e40a9f0c8>),
 _RealValuedColumn(column_name='office_sqm_3000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e40a9f140>),
 _RealValuedColumn(column_name='build_count_panel', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e40a9f1b8>),
 _RealValuedColumn(column_name='micex', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e40a9f230>),
 _RealValuedColumn(column_name='green_part_1500', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e427108c0>),
 _RealValuedColumn(column_name='micex_cbi_tr', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e40a9f2a8>),
 _RealValuedColumn(column_name='children_school', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e40a9f320>),
 _RealValuedColumn(column_name='trc_sqm_2000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e40a9f398>),
 _RealValuedColumn(column_name='office_sqm_500', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e40a9f410>),
 _RealValuedColumn(column_name='cafe_sum_2000_max_price_avg', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e40a9f488>),
 _RealValuedColumn(column_name='provision_doctors', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e40a9f500>),
 _RealValuedColumn(column_name='big_church_count_2000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e40a9f578>),
 _RealValuedColumn(column_name='cafe_count_1500_price_high', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e40a9f5f0>),
 _RealValuedColumn(column_name='church_count_1000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e40a9f668>),
 _RealValuedColumn(column_name='cafe_avg_price_3000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e40a9f6e0>),
 _RealValuedColumn(column_name='cafe_count_2000_na_price', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e40a9f758>),
 _RealValuedColumn(column_name='trc_count_5000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e40a9f7d0>),
 _RealValuedColumn(column_name='trc_sqm_1500', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e40a9f848>),
 _RealValuedColumn(column_name='water_km', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e40a9f8c0>),
 _RealValuedColumn(column_name='green_part_1000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e40a9f938>),
 _RealValuedColumn(column_name='park_km', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e40a9f9b0>),
 _RealValuedColumn(column_name='public_healthcare_km', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e40a9fa28>),
 _RealValuedColumn(column_name='prom_part_2000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e40a9fb18>),
 _RealValuedColumn(column_name='cafe_count_5000', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e40a9fb90>),
 _RealValuedColumn(column_name='hospital_bed_occupancy_per_year', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e40a9fc08>),
 _RealValuedColumn(column_name='big_church_km', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e40a9fc80>),
 _RealValuedColumn(column_name='bus_terminal_avto_km', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e40a9fcf8>),
 _RealValuedColumn(column_name='exhibition_km', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e1f510aa0>),
 _RealValuedColumn(column_name='kitch_sq', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e40a9fde8>),
 _RealValuedColumn(column_name='7_14_all', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e40a9fe60>),
 _RealValuedColumn(column_name='cafe_sum_500_min_price_avg', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e40a9fed8>),
 _RealValuedColumn(column_name='income_per_cap', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e40a9ff50>),
 _RealValuedColumn(column_name='shopping_centers_raion', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e42710050>),
 _RealValuedColumn(column_name='rent_price_3room_eco', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e427100c8>),
 _RealValuedColumn(column_name='basketball_km', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e42710140>),
 _RealValuedColumn(column_name='real_dispos_income_per_cap_growth', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e427101b8>),
 _RealValuedColumn(column_name='young_all', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e42710230>),
 _RealValuedColumn(column_name='cafe_count_5000_price_1500', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e4384bcf8>),
 _RealValuedColumn(column_name='cafe_sum_5000_max_price_avg', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e42710320>),
 _RealValuedColumn(column_name='cafe_count_2000_price_500', dimension=1, default_value=None, dtype=tf.float32, normalizer=<function <lambda> at 0x7f5e42710398>),

In [497]:
TF_CONTINUOUS_COLS = all_continuous_columns + [c + "_bucketized_feature" for c in bucketize_columns]
TF_SPARSE_COLS = [c for c in all_feature_columns if c not in TF_CONTINUOUS_COLS]

In [498]:
TF_CONTINUOUS_COLS

['sport_count_5000',
 'railroad_station_avto_min',
 'mosque_count_500',
 'cafe_count_5000_price_2500',
 'trc_sqm_3000',
 'build_count_brick',
 'office_count_1500',
 'healthcare_centers_raion',
 'housing_fund_sqm',
 'heating_share',
 'catering_km',
 'office_count_500',
 'big_market_km',
 'museum_km',
 'gdp_quart_growth',
 'metro_km_avto',
 'radiation_km',
 'cafe_count_1000_price_1000',
 'build_count_foam',
 'cafe_count_3000_price_1000',
 'ice_rink_km',
 'balance_trade_growth',
 'leisure_count_1000',
 'cafe_avg_price_1000',
 'cafe_count_1500_price_1500',
 'mosque_count_2000',
 'trc_count_500',
 'industrial_km',
 'profitable_enterpr_share',
 'office_sqm_1000',
 '7_14_male',
 'load_of_teachers_school_per_teacher',
 'cafe_avg_price_500',
 'cafe_sum_1500_max_price_avg',
 'leisure_count_2000',
 'sport_objects_raion',
 'oil_chemistry_km',
 'museum_visitis_per_100_cap',
 'trc_count_2000',
 'students_state_oneshift',
 'mortgage_value',
 'cafe_count_500_price_1500',
 'cafe_count_3000_price_1500',
 '0_13_all',
 'cafe_sum_1000_min_price_avg',
 'green_part_500',
 'pop_natural_increase',
 'retail_trade_turnover_growth',
 'build_count_after_1995',
 'cafe_count_5000_price_1500',
 'oil_urals',
 'school_education_centers_raion',
 'raion_build_count_with_builddate_info',
 'public_transport_station_km',
 'sport_count_2000',
 'sadovoe_km',
 'cafe_count_3000_price_high',
 'timestamp_day',
 'old_house_share',
 'big_road1_km',
 'water_pipes_share',
 'unprofitable_enterpr_share',
 '0_6_all',
 'life_sq',
 'baths_share',
 'trc_count_1500',
 'bulvar_ring_km',
 'market_count_1000',
 'invest_fixed_assets_phys',
 'gdp_quart',
 '16_29_all',
 'green_zone_part',
 'school_education_centers_top_20_raion',
 'cafe_count_1500_price_500',
 'old_education_build_share',
 'young_female',
 'incidence_population',
 'build_count_slag',
 'raion_build_count_with_material_info',
 'metro_km_walk',
 'culture_objects_top_25_raion',
 'rent_price_2room_bus',
 'swim_pool_km',
 '0_17_female',
 'invest_fixed_capital_per_cap',
 'lodging_sqm_per_cap',
 'cafe_count_1500_price_4000',
 'green_part_3000',
 'trc_sqm_500',
 'preschool_km',
 'office_sqm_3000',
 'build_count_panel',
 'micex',
 'micex_cbi_tr',
 'children_school',
 'trc_sqm_2000',
 'office_sqm_500',
 'cafe_sum_2000_max_price_avg',
 'provision_doctors',
 'big_church_count_2000',
 'cafe_count_1500_price_high',
 'church_count_1000',
 'cafe_avg_price_3000',
 'cafe_count_2000_na_price',
 'trc_count_5000',
 'trc_sqm_1500',
 'water_km',
 'green_part_1000',
 'park_km',
 'public_healthcare_km',
 'build_count_1921-1945',
 'prom_part_2000',
 'cafe_count_5000',
 'hospital_bed_occupancy_per_year',
 'big_church_km',
 'bus_terminal_avto_km',
 'cafe_count_2000_price_4000',
 'kitch_sq',
 '7_14_all',
 'cafe_sum_500_min_price_avg',
 'income_per_cap',
 'shopping_centers_raion',
 'rent_price_3room_eco',
 'basketball_km',
 'real_dispos_income_per_cap_growth',
 'young_all',
 'detention_facility_km',
 'cafe_sum_5000_max_price_avg',
 'cafe_count_2000_price_500',
 'power_transmission_line_km',
 'cafe_count_5000_price_1000',
 'cafe_count_1000_price_500',
 'share_own_revenues',
 'net_capital_export',
 'timestamp_month',
 'office_sqm_5000',
 'metro_min_avto',
 'cafe_count_1500',
 'mortgage_rate',
 'green_part_1500',
 'market_count_2000',
 'cafe_count_3000_na_price',
 'trc_sqm_5000',
 'hospital_beds_raion',
 'additional_education_km',
 'rent_price_1room_bus',
 'cafe_count_2000_price_1500',
 'thermal_power_plant_km',
 'ekder_male',
 'gas_share',
 'cafe_count_2000_price_high',
 'big_road2_km',
 'theater_km',
 'gdp_deflator',
 'ekder_all',
 'cafe_count_1500_na_price',
 'office_count_5000',
 'cafe_count_500_price_2500',
 'cafe_count_2000_price_1000',
 'mosque_count_1500',
 'sewerage_share',
 'office_km',
 'modern_education_share',
 'prom_part_1500',
 'cafe_count_5000_na_price',
 'eurrub',
 'church_synagogue_km',
 'electric_stove_share',
 'salary',
 'load_on_doctors',
 'average_life_exp',
 'cafe_count_5000_price_high',
 'marriages_per_1000_cap',
 '0_13_female',
 'office_sqm_1500',
 'rent_price_4_room_bus',
 'apartment_build',
 'cafe_count_500_price_1000',
 'rts',
 'work_all',
 'invest_fixed_assets',
 'build_count_block',
 'balance_trade',
 'max_floor',
 'market_count_500',
 'market_count_3000',
 'zd_vokzaly_avto_km',
 'mortality',
 'retail_trade_turnover',
 'railroad_station_walk_min',
 'hospice_morgue_km',
 'preschool_quota',
 'leisure_count_500',
 'school_quota',
 'young_male',
 'usdrub',
 'cafe_count_500_price_500',
 'deposits_value',
 'workplaces_km',
 'cafe_count_500_price_4000',
 'cafe_count_1000_price_1500',
 'cafe_count_1000_price_4000',
 'cafe_avg_price_1500',
 'church_count_500',
 'cafe_count_5000_price_4000',
 'office_count_1000',
 'child_on_acc_pre_school',
 'mosque_count_5000',
 'sport_count_3000',
 'cafe_count_3000_price_2500',
 'railroad_station_avto_km',
 'full_sq',
 'state',
 '7_14_female',
 'metro_min_walk',
 'theaters_viewers_per_1000_cap',
 'church_count_3000',
 'prom_part_500',
 'cafe_count_1500_price_2500',
 'market_count_1500',
 'preschool_education_centers_raion',
 'work_male',
 'office_raion',
 'childbirth',
 'mortgage_growth',
 'prom_part_5000',
 'water_treatment_km',
 'construction_value',
 'build_count_1946-1970',
 'mosque_km',
 'cafe_count_500_na_price',
 'timestamp_year',
 'railroad_km',
 'full_all',
 'hot_water_share',
 'incineration_km',
 'cafe_count_1500_price_1000',
 'leisure_count_1500',
 'build_count_before_1920',
 'big_church_count_5000',
 'green_part_2000',
 'cafe_count_1000_na_price',
 'pop_total_inc',
 'provision_retail_space_sqm',
 'build_year',
 'provision_retail_space_modern_sqm',
 'stadium_km',
 'market_count_5000',
 'overdue_wages_per_cap',
 'sport_count_1500',
 'salary_growth',
 'railroad_station_walk_km',
 'num_room',
 'cemetery_km',
 'trc_sqm_1000',
 'fitness_km',
 'sport_count_500',
 'leisure_count_5000',
 '16_29_male',
 'cafe_sum_3000_max_price_avg',
 'trc_count_3000',
 'turnover_catering_per_cap',
 'gdp_annual',
 'big_church_count_500',
 'population_reg_sports_share',
 'retail_trade_turnover_per_cap',
 'ts_km',
 'build_count_wood',
 'cafe_sum_2000_min_price_avg',
 'build_count_frame',
 'ttk_km',
 'prom_part_3000',
 'cafe_count_1000_price_2500',
 'average_provision_of_build_contract_moscow',
 'leisure_count_3000',
 '0_17_male',
 'sport_count_1000',
 'build_count_1971-1995',
 'apartment_fund_sqm',
 'unemployment',
 'trc_count_1000',
 'cafe_sum_1000_max_price_avg',
 '0_17_all',
 'power_clinics',
 'pop_migration',
 '0_6_female',
 'office_count_3000',
 '0_6_male',
 'cafe_count_3000_price_4000',
 'cafe_sum_500_max_price_avg',
 'cafe_count_1000',
 'deposits_rate',
 'cafe_avg_price_5000',
 'university_top_20_raion',
 'female_f',
 'micex_rgbi_tr',
 'public_transport_station_min_walk',
 'gdp_annual_growth',
 'build_count_monolith',
 'build_count_mix',
 'deposits_growth',
 '0_13_male',
 'bandwidth_sports',
 'office_count_2000',
 'area_m',
 'big_church_count_3000',
 'cafe_count_500',
 'fixed_basket',
 'infant_mortarity_per_1000_cap',
 'cafe_sum_5000_min_price_avg',
 'mkad_km',
 'green_part_5000',
 'divorce_rate',
 'employment',
 'brent',
 'male_f',
 'cafe_count_1000_price_high',
 'additional_education_raion',
 'cafe_count_3000',
 '16_29_female',
 'church_count_2000',
 'cafe_avg_price_2000',
 'market_shop_km',
 'seats_theather_rfmin_per_100000_cap',
 'university_km',
 'church_count_1500',
 'children_preschool',
 'raion_popul',
 'students_reg_sports_share',
 'grp_growth',
 'mosque_count_1000',
 'green_zone_km',
 'indust_part',
 'office_sqm_2000',
 'ppi',
 'kremlin_km',
 'labor_force',
 'prom_part_1000',
 'work_female',
 'cafe_count_2000',
 'nuclear_reactor_km',
 'exhibition_km',
 'cafe_sum_1500_min_price_avg',
 'rent_price_2room_eco',
 'cafe_sum_3000_min_price_avg',
 'hospital_beds_available_per_cap',
 'kindergarten_km',
 'average_provision_of_build_contract',
 'provision_nurse',
 'cafe_count_2000_price_2500',
 'mosque_count_3000',
 'ekder_female',
 'big_church_count_1000',
 'big_church_count_1500',
 'grp',
 'floor',
 'school_km',
 'rent_price_1room_eco',
 'cafe_count_500_price_high',
 'shopping_centers_km',
 'cafe_count_3000_price_500',
 'perinatal_mort_per_1000_cap',
 'load_of_teachers_preschool_per_teacher',
 'cpi',
 'church_count_5000',
 'rent_price_3room_bus',
 'cafe_count_5000_price_500',
 'fin_res_per_cap',
 'sport_count_5000_bucketized_feature',
 'mosque_count_500_bucketized_feature',
 'cafe_count_5000_price_2500_bucketized_feature',
 'build_count_brick_bucketized_feature',
 'office_count_1500_bucketized_feature',
 'office_count_500_bucketized_feature',
 'cafe_count_1000_price_1000_bucketized_feature',
 'build_count_foam_bucketized_feature',
 'cafe_count_3000_price_1000_bucketized_feature',
 'leisure_count_1000_bucketized_feature',
 'cafe_count_1500_price_1500_bucketized_feature',
 'mosque_count_2000_bucketized_feature',
 'trc_count_500_bucketized_feature',
 'leisure_count_2000_bucketized_feature',
 'trc_count_2000_bucketized_feature',
 'cafe_count_500_price_1500_bucketized_feature',
 'cafe_count_3000_price_1500_bucketized_feature',
 'build_count_after_1995_bucketized_feature',
 'cafe_count_5000_price_1500_bucketized_feature',
 'raion_build_count_with_builddate_info_bucketized_feature',
 'sport_count_2000_bucketized_feature',
 'cafe_count_3000_price_high_bucketized_feature',
 'trc_count_1500_bucketized_feature',
 'market_count_1000_bucketized_feature',
 'cafe_count_1500_price_500_bucketized_feature',
 'build_count_slag_bucketized_feature',
 'raion_build_count_with_material_info_bucketized_feature',
 'cafe_count_1500_price_4000_bucketized_feature',
 'build_count_panel_bucketized_feature',
 'big_church_count_2000_bucketized_feature',
 'cafe_count_1500_price_high_bucketized_feature',
 'church_count_1000_bucketized_feature',
 'cafe_count_2000_na_price_bucketized_feature',
 'trc_count_5000_bucketized_feature',
 'build_count_1921-1945_bucketized_feature',
 'cafe_count_5000_bucketized_feature',
 'cafe_count_2000_price_4000_bucketized_feature',
 'cafe_count_2000_price_500_bucketized_feature',
 'cafe_count_5000_price_1000_bucketized_feature',
 'cafe_count_1000_price_500_bucketized_feature',
 'cafe_count_1500_bucketized_feature',
 'market_count_2000_bucketized_feature',
 'cafe_count_3000_na_price_bucketized_feature',
 'cafe_count_2000_price_1500_bucketized_feature',
 'cafe_count_2000_price_high_bucketized_feature',
 'cafe_count_1500_na_price_bucketized_feature',
 'office_count_5000_bucketized_feature',
 'cafe_count_500_price_2500_bucketized_feature',
 'cafe_count_2000_price_1000_bucketized_feature',
 'mosque_count_1500_bucketized_feature',
 'cafe_count_5000_na_price_bucketized_feature',
 'cafe_count_5000_price_high_bucketized_feature',
 'cafe_count_500_price_1000_bucketized_feature',
 'build_count_block_bucketized_feature',
 'market_count_500_bucketized_feature',
 'market_count_3000_bucketized_feature',
 'leisure_count_500_bucketized_feature',
 'cafe_count_500_price_500_bucketized_feature',
 'cafe_count_500_price_4000_bucketized_feature',
 'cafe_count_1000_price_1500_bucketized_feature',
 'cafe_count_1000_price_4000_bucketized_feature',
 'church_count_500_bucketized_feature',
 'cafe_count_5000_price_4000_bucketized_feature',
 'office_count_1000_bucketized_feature',
 'mosque_count_5000_bucketized_feature',
 'sport_count_3000_bucketized_feature',
 'cafe_count_3000_price_2500_bucketized_feature',
 'church_count_3000_bucketized_feature',
 'cafe_count_1500_price_2500_bucketized_feature',
 'market_count_1500_bucketized_feature',
 'build_count_1946-1970_bucketized_feature',
 'cafe_count_500_na_price_bucketized_feature',
 'cafe_count_1500_price_1000_bucketized_feature',
 'leisure_count_1500_bucketized_feature',
 'build_count_before_1920_bucketized_feature',
 'big_church_count_5000_bucketized_feature',
 'cafe_count_1000_na_price_bucketized_feature',
 'market_count_5000_bucketized_feature',
 'sport_count_1500_bucketized_feature',
 'sport_count_500_bucketized_feature',
 'leisure_count_5000_bucketized_feature',
 'trc_count_3000_bucketized_feature',
 'big_church_count_500_bucketized_feature',
 'build_count_wood_bucketized_feature',
 'build_count_frame_bucketized_feature',
 'cafe_count_1000_price_2500_bucketized_feature',
 'leisure_count_3000_bucketized_feature',
 'sport_count_1000_bucketized_feature',
 'build_count_1971-1995_bucketized_feature',
 'trc_count_1000_bucketized_feature',
 'office_count_3000_bucketized_feature',
 'cafe_count_3000_price_4000_bucketized_feature',
 'cafe_count_1000_bucketized_feature',
 'build_count_monolith_bucketized_feature',
 'build_count_mix_bucketized_feature',
 'office_count_2000_bucketized_feature',
 'big_church_count_3000_bucketized_feature',
 'cafe_count_500_bucketized_feature',
 'cafe_count_1000_price_high_bucketized_feature',
 'cafe_count_3000_bucketized_feature',
 'church_count_2000_bucketized_feature',
 'church_count_1500_bucketized_feature',
 'mosque_count_1000_bucketized_feature',
 'cafe_count_2000_bucketized_feature',
 'cafe_count_2000_price_2500_bucketized_feature',
 'mosque_count_3000_bucketized_feature',
 'big_church_count_1000_bucketized_feature',
 'big_church_count_1500_bucketized_feature',
 'cafe_count_500_price_high_bucketized_feature',
 'cafe_count_3000_price_500_bucketized_feature',
 'church_count_5000_bucketized_feature',
 'cafe_count_5000_price_500_bucketized_feature',
 'catering_km_bucketized_feature',
 'big_market_km_bucketized_feature',
 'museum_km_bucketized_feature',
 'metro_km_avto_bucketized_feature',
 'radiation_km_bucketized_feature',
 'ice_rink_km_bucketized_feature',
 'industrial_km_bucketized_feature',
 'oil_chemistry_km_bucketized_feature',
 'public_transport_station_km_bucketized_feature',
 'sadovoe_km_bucketized_feature',
 'big_road1_km_bucketized_feature',
 'bulvar_ring_km_bucketized_feature',
 'metro_km_walk_bucketized_feature',
 'swim_pool_km_bucketized_feature',
 'preschool_km_bucketized_feature',
 'water_km_bucketized_feature',
 'park_km_bucketized_feature',
 'public_healthcare_km_bucketized_feature',
 'big_church_km_bucketized_feature',
 'bus_terminal_avto_km_bucketized_feature',
 'basketball_km_bucketized_feature',
 'detention_facility_km_bucketized_feature',
 'power_transmission_line_km_bucketized_feature',
 'additional_education_km_bucketized_feature',
 'thermal_power_plant_km_bucketized_feature',
 'big_road2_km_bucketized_feature',
 'theater_km_bucketized_feature',
 'office_km_bucketized_feature',
 'church_synagogue_km_bucketized_feature',
 'zd_vokzaly_avto_km_bucketized_feature',
 'hospice_morgue_km_bucketized_feature',
 'workplaces_km_bucketized_feature',
 'railroad_station_avto_km_bucketized_feature',
 'water_treatment_km_bucketized_feature',
 'mosque_km_bucketized_feature',
 'railroad_km_bucketized_feature',
 'incineration_km_bucketized_feature',
 'stadium_km_bucketized_feature',
 'railroad_station_walk_km_bucketized_feature',
 'cemetery_km_bucketized_feature',
 'fitness_km_bucketized_feature',
 'ts_km_bucketized_feature',
 'ttk_km_bucketized_feature',
 'mkad_km_bucketized_feature',
 'market_shop_km_bucketized_feature',
 'university_km_bucketized_feature',
 'green_zone_km_bucketized_feature',
 'kremlin_km_bucketized_feature',
 'nuclear_reactor_km_bucketized_feature',
 'exhibition_km_bucketized_feature',
 'kindergarten_km_bucketized_feature',
 'school_km_bucketized_feature',
 'shopping_centers_km_bucketized_feature',
 'trc_sqm_3000_bucketized_feature',
 'housing_fund_sqm_bucketized_feature',
 'office_sqm_1000_bucketized_feature',
 'life_sq_bucketized_feature',
 'lodging_sqm_per_cap_bucketized_feature',
 'trc_sqm_500_bucketized_feature',
 'office_sqm_3000_bucketized_feature',
 'trc_sqm_2000_bucketized_feature',
 'office_sqm_500_bucketized_feature',
 'trc_sqm_1500_bucketized_feature',
 'kitch_sq_bucketized_feature',
 'office_sqm_5000_bucketized_feature',
 'trc_sqm_5000_bucketized_feature',
 'office_sqm_1500_bucketized_feature',
 'full_sq_bucketized_feature',
 'provision_retail_space_sqm_bucketized_feature',
 'provision_retail_space_modern_sqm_bucketized_feature',
 'trc_sqm_1000_bucketized_feature',
 'apartment_fund_sqm_bucketized_feature',
 'office_sqm_2000_bucketized_feature']

## Prepare training and testing datasets

In [499]:
def prepare_bucketized_column_in_dataset(df):
    global bucketize_columns
    for col in bucketize_columns:
        df[col + "_bucketized_feature"] = df[col]
    return df

In [500]:
final_train_df = prepare_bucketized_column_in_dataset(final_train_df)

In [501]:
def train_validate_test_split(df, train_percent=.6, validate_percent=.2, seed=None):
    np.random.seed(seed)
    perm = np.random.permutation(df.index)
    m = len(df)
    train_end = int(train_percent * m)
    validate_end = int(validate_percent * m) + train_end
    train = df.ix[perm[:train_end]]
    validate = df.ix[perm[train_end:validate_end]]
    test = df.ix[perm[validate_end:]]
    return train, validate, test

In [502]:
train_split_df, val_split_df, test_split_df = train_validate_test_split(final_train_df)

## Data input function

In [519]:
def input_fn(df):
    global TF_CONTINUOUS_COLS, TF_SPARSE_COLS
    # Creates a dictionary mapping from each continuous feature column name (k) to
    # the values of that column stored in a constant Tensor.       
    
    continuous_cols = {k: tf.reshape(tf.constant(df[k].values, dtype=tf.float64), [-1, 1])
                     for k in TF_CONTINUOUS_COLS}
    
    # Creates a dictionary mapping from each categorical feature column name (k)
    # to the values of that column stored in a tf.SparseTensor.
    categorical_cols = {k: tf.SparseTensor(
      indices=[[i, 0] for i in range(df[k].size)],
      values=df[k].values,
      dense_shape=[df[k].size, 1])
                      for k in TF_SPARSE_COLS}
    
    # Merges the two dictionaries into one.
    feature_cols = dict(continuous_cols.items() + categorical_cols.items())
        
    # Converts the label column into a constant Tensor.
    label = tf.constant(df[LABEL].values)
    
    # Returns the feature columns and the label.
    return feature_cols, label

## Model

In [520]:
def model_fn(features, targets, mode, params):
    global TF_INPUT_FEATURE_COLS
        
    # By default, let's do a 1024 -> 512 -> 256 -> 1 (with a dropout of 0.4 in between them)
    hidden_units = params.get('hidden_units', [1024, 512, 256])
    dropout = params.get('dropout', 0.4)
    last_dropout = params.get('last_dropout', 0.2)
    hidden_activation = params.get('hidden_activation', tf.nn.relu)
    lr = params.get("lr", 1e-4)
    opt = params.get("optimizer", "Adam")
    
    # Logic to do the following:
    
    # 1. Configure the model via TensorFlow operations
    
    input_layer = tf.contrib.layers.input_from_feature_columns(
        columns_to_tensors=features, feature_columns=TF_INPUT_FEATURE_COLS)
    
    for i, hidden_unit in enumerate(hidden_units):
        if i == 0:
            net = tf.contrib.layers.fully_connected(inputs=input_layer,
                                                 num_outputs=hidden_unit,
                                                 activation_fn=hidden_activation)
            if mode == tf.contrib.learn.ModeKeys.TRAIN:
                # Add droppout only during training
                if i == len(hidden_units) - 1:
                    net = tf.contrib.layers.dropout(net, keep_prob = 1 - last_dropout)
                else:
                    net = tf.contrib.layers.dropout(net, keep_prob = 1 - dropout)
        else:
            net = tf.contrib.layers.fully_connected(inputs=net,
                                                 num_outputs=hidden_unit,
                                                 activation_fn=hidden_activation)
            if mode == tf.contrib.learn.ModeKeys.TRAIN:
                # Add droppout only during training
                if i == len(hidden_units) - 1:
                    net = tf.contrib.layers.dropout(net, keep_prob = 1 - last_dropout)
                else:
                    net = tf.contrib.layers.dropout(net, keep_prob = 1 - dropout)
        
    # output layer
    output = tf.contrib.layers.fully_connected(inputs=net,
                                                 num_outputs=1,
                                                 activation_fn=tf.nn.relu)
    
    # Generate predictions
    predictions = tf.reshape(output, [-1])
    predictions = tf.cast(predictions, tf.float64)
    predictions_dict = {"prices": predictions}
    
    # 2. Define the loss function for training/evaluation
    """
    def root_mean_squared_logarithmic_error(y_true, y_pred):
    y_pred_log = K.log(y_pred + 1.)
    y_true_log = K.log(y_true + 1.)
    return K.sqrt(K.mean(K.square(y_pred_log - y_true_log), axis = -1))
    """
    targets = tf.cast(targets, tf.float64)
    
    loss = tf.sqrt(tf.reduce_mean(tf.square(tf.log1p(predictions) - tf.log1p(targets)), axis=-1))
    
    # 3. Define the training operation/optimizer
    train_op = tf.contrib.layers.optimize_loss(loss=loss,
                                               global_step=tf.contrib.framework.get_global_step(),
                                               learning_rate=lr,
                                               optimizer=opt)
    
    # Calculate root mean squared error as additional eval metric
    eval_metric_ops = {
      "rmse":
          tf.metrics.root_mean_squared_error(
              tf.cast(targets, tf.float64), predictions)
    }
        
    
    # 5. Return predictions/loss/train_op/eval_metric_ops in ModelFnOps object
    return tf.contrib.learn.ModelFnOps(
          mode=mode,
          predictions=predictions_dict,
          loss=loss,
          train_op=train_op,
          eval_metric_ops=eval_metric_ops)

In [530]:
# Set model params
model_params = {"lr":1e-3} # Use default

model_dir = '/mnt/h/Kaggle/Competitions/Russian Bank/models/' + version_str + '/tf_model'

# Instantiate Estimator
real_estate_model = tf.contrib.learn.Estimator(
    model_dir=model_dir,
    config=tf.contrib.learn.RunConfig(save_checkpoints_secs=30),
    model_fn=model_fn, params=model_params)

INFO:tensorflow:Using config: {'_save_checkpoints_secs': 30, '_num_ps_replicas': 0, '_keep_checkpoint_max': 5, '_tf_random_seed': None, '_task_type': None, '_environment': 'local', '_is_chief': True, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x7f5e3de17210>, '_tf_config': gpu_options {
  per_process_gpu_memory_fraction: 1
}
, '_task_id': 0, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_evaluation_master': '', '_keep_checkpoint_every_n_hours': 10000, '_master': ''}

In [531]:
validation_monitor = tf.contrib.learn.monitors.ValidationMonitor(
    input_fn = lambda : input_fn(val_split_df),
    eval_steps=1,
    early_stopping_metric="loss",
    early_stopping_metric_minimize=True,
    early_stopping_rounds=20,
    every_n_steps=50)

WARNING:tensorflow:From /usr/local/lib/python2.7/dist-packages/tensorflow/contrib/learn/python/learn/monitors.py:267: __init__ (from tensorflow.contrib.learn.python.learn.monitors) is deprecated and will be removed after 2016-12-05.
Instructions for updating:
Monitors are deprecated. Please use tf.train.SessionRunHook.

### Train the model

In [532]:
epochs = 1100

In [ ]:
real_estate_model.fit(input_fn = lambda : input_fn(train_split_df),
                     steps=epochs, monitors=[validation_monitor]
                     )

INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Saving checkpoints for 307 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:loss = 0.735164307396, step = 307
INFO:tensorflow:Starting evaluation at 2017-05-18-18:01:05
INFO:tensorflow:Evaluation [1/1]
INFO:tensorflow:Finished evaluation at 2017-05-18-18:01:23
INFO:tensorflow:Saving dict for global step 307: global_step = 307, loss = 0.726333, rmse = 6.04299e+06
WARNING:tensorflow:Skipping summary for global_step, must be a float or np.float32.
INFO:tensorflow:Validation (step 307): loss = 0.726333, global_step = 307, rmse = 6.04299e+06
INFO:tensorflow:Saving checkpoints for 308 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 309 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 310 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 311 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 312 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 313 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 314 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 315 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 316 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 317 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 318 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 319 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 320 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 321 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 322 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 323 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 324 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 325 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 326 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 327 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 328 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 329 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 330 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 331 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 332 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 333 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 334 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 335 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 336 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 337 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 338 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 339 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 340 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 341 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 342 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 343 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 344 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 345 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 346 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 347 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 348 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 349 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 350 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 351 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 352 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 353 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 354 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 355 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 356 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 357 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Starting evaluation at 2017-05-18-18:39:24
INFO:tensorflow:Evaluation [1/1]
INFO:tensorflow:Finished evaluation at 2017-05-18-18:39:42
INFO:tensorflow:Saving dict for global step 357: global_step = 357, loss = 0.690032, rmse = 5.87209e+06
WARNING:tensorflow:Skipping summary for global_step, must be a float or np.float32.
INFO:tensorflow:Validation (step 357): loss = 0.690032, global_step = 357, rmse = 5.87209e+06
INFO:tensorflow:Saving checkpoints for 358 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 359 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 360 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 361 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 362 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 363 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 364 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 365 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 366 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 367 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 368 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 369 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 370 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 371 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 372 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 373 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 374 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 375 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 376 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 377 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 378 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 379 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 380 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 381 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 382 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 383 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 384 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 385 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 386 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 387 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 388 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 389 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 390 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 391 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 392 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 393 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 394 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 395 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 396 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 397 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 398 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 399 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 400 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 401 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 402 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 403 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 404 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 405 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 406 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 407 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:global_step/sec: 0.0204937
INFO:tensorflow:loss = 0.67981301228, step = 407
INFO:tensorflow:Starting evaluation at 2017-05-18-19:22:51
INFO:tensorflow:Evaluation [1/1]
INFO:tensorflow:Finished evaluation at 2017-05-18-19:23:13
INFO:tensorflow:Saving dict for global step 407: global_step = 407, loss = 0.672733, rmse = 5.71444e+06
WARNING:tensorflow:Skipping summary for global_step, must be a float or np.float32.
INFO:tensorflow:Validation (step 407): loss = 0.672733, global_step = 407, rmse = 5.71444e+06
INFO:tensorflow:Saving checkpoints for 408 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 409 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 410 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 411 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 412 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 413 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 414 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 415 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 416 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 417 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 418 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 419 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 420 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 421 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 422 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 423 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 424 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 425 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 426 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 427 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 428 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 429 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 430 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 431 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 432 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 433 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 434 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 435 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 436 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 437 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 438 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 439 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 440 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 441 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 442 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 443 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 444 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 445 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 446 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 447 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 448 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 449 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 450 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 451 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 452 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 453 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 454 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 455 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 456 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Saving checkpoints for 457 into /mnt/h/Kaggle/Competitions/Russian Bank/models/v2.1/tf_model/model.ckpt.
INFO:tensorflow:Starting evaluation at 2017-05-18-20:08:19
INFO:tensorflow:Evaluation [1/1]
INFO:tensorflow:Finished evaluation at 2017-05-18-20:08:46

## Generate Kaggle Submission file

In [326]:
kaggle_test = pd.read_csv("/mnt/h/Kaggle/Competitions/Russian Bank/data/test.csv/test.csv")

In [327]:
kaggle_test.head()

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,...,cafe_count_5000_price_1500,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000
0,30474,2015-07-01,39.0,20.7,2,9,1,1998.0,1,8.9,...,8,0,0,0,1,10,1,0,14,1
1,30475,2015-07-01,79.2,NaN,8,17,1,0.0,3,1.0,...,4,1,1,0,2,11,0,1,12,1
2,30476,2015-07-01,40.5,25.1,3,5,2,1960.0,2,4.8,...,42,11,4,0,10,21,0,10,71,11
3,30477,2015-07-01,62.8,36.0,17,17,1,2016.0,2,62.8,...,1,1,2,0,0,10,0,0,2,0
4,30478,2015-07-01,40.0,40.0,17,17,1,0.0,1,1.0,...,5,1,1,0,2,12,0,1,11,1

In [328]:
macro_df = pd.read_csv("/mnt/h/Kaggle/Competitions/Russian Bank/data/macro.csv/macro.csv")

In [329]:
final_kaggle_df = pd.merge(kaggle_test, macro_df, on='timestamp')

In [330]:
final_kaggle_df = prepare_dataset(final_kaggle_df)

In [331]:
final_kaggle_df.head()

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,...,bandwidth_sports,population_reg_sports_share,students_reg_sports_share,apartment_build,apartment_fund_sqm,timestamp_converted,timestamp_day,timestamp_month,timestamp_year,state_refractored
0,30474,2015-07-01,39.0,20.7,2,9,1,1998.0,1,8.9,...,463938.0,0.0,0.0,0.0,234576.9,2015-07-01,1,7,2015,3
1,30475,2015-07-01,79.2,0.0,8,17,1,0.0,3,1.0,...,463938.0,0.0,0.0,0.0,234576.9,2015-07-01,1,7,2015,1
2,30476,2015-07-01,40.5,25.1,3,5,2,1960.0,2,4.8,...,463938.0,0.0,0.0,0.0,234576.9,2015-07-01,1,7,2015,2
3,30477,2015-07-01,62.8,36.0,17,17,1,2016.0,2,62.8,...,463938.0,0.0,0.0,0.0,234576.9,2015-07-01,1,7,2015,3
4,30478,2015-07-01,40.0,40.0,17,17,1,0.0,1,1.0,...,463938.0,0.0,0.0,0.0,234576.9,2015-07-01,1,7,2015,1

In [332]:
final_kaggle_df = final_kaggle_df[all_feature_columns ]

In [231]:
[c for c in final_kaggle_df.columns.tolist() if "normalized" in c]

['sport_count_5000_bucketized_normalized_feature',
 'mosque_count_500_bucketized_normalized_feature',
 'cafe_count_5000_price_2500_bucketized_normalized_feature',
 'build_count_brick_bucketized_normalized_feature',
 'office_count_1500_bucketized_normalized_feature',
 'office_count_500_bucketized_normalized_feature',
 'cafe_count_1000_price_1000_bucketized_normalized_feature',
 'build_count_foam_bucketized_normalized_feature',
 'cafe_count_3000_price_1000_bucketized_normalized_feature',
 'leisure_count_1000_bucketized_normalized_feature',
 'cafe_count_1500_price_1500_bucketized_normalized_feature',
 'mosque_count_2000_bucketized_normalized_feature',
 'trc_count_500_bucketized_normalized_feature',
 'leisure_count_2000_bucketized_normalized_feature',
 'trc_count_2000_bucketized_normalized_feature',
 'cafe_count_500_price_1500_bucketized_normalized_feature',
 'cafe_count_3000_price_1500_bucketized_normalized_feature',
 'build_count_after_1995_bucketized_normalized_feature',
 'cafe_count_5000_price_1500_bucketized_normalized_feature',
 'raion_build_count_with_builddate_info_bucketized_normalized_feature',
 'sport_count_2000_bucketized_normalized_feature',
 'cafe_count_3000_price_high_bucketized_normalized_feature',
 'trc_count_1500_bucketized_normalized_feature',
 'market_count_1000_bucketized_normalized_feature',
 'cafe_count_1500_price_500_bucketized_normalized_feature',
 'build_count_slag_bucketized_normalized_feature',
 'raion_build_count_with_material_info_bucketized_normalized_feature',
 'cafe_count_1500_price_4000_bucketized_normalized_feature',
 'build_count_panel_bucketized_normalized_feature',
 'big_church_count_2000_bucketized_normalized_feature',
 'cafe_count_1500_price_high_bucketized_normalized_feature',
 'church_count_1000_bucketized_normalized_feature',
 'cafe_count_2000_na_price_bucketized_normalized_feature',
 'trc_count_5000_bucketized_normalized_feature',
 'build_count_1921-1945_bucketized_normalized_feature',
 'cafe_count_5000_bucketized_normalized_feature',
 'cafe_count_2000_price_4000_bucketized_normalized_feature',
 'cafe_count_2000_price_500_bucketized_normalized_feature',
 'cafe_count_5000_price_1000_bucketized_normalized_feature',
 'cafe_count_1000_price_500_bucketized_normalized_feature',
 'cafe_count_1500_bucketized_normalized_feature',
 'market_count_2000_bucketized_normalized_feature',
 'cafe_count_3000_na_price_bucketized_normalized_feature',
 'cafe_count_2000_price_1500_bucketized_normalized_feature',
 'cafe_count_2000_price_high_bucketized_normalized_feature',
 'cafe_count_1500_na_price_bucketized_normalized_feature',
 'office_count_5000_bucketized_normalized_feature',
 'cafe_count_500_price_2500_bucketized_normalized_feature',
 'cafe_count_2000_price_1000_bucketized_normalized_feature',
 'mosque_count_1500_bucketized_normalized_feature',
 'cafe_count_5000_na_price_bucketized_normalized_feature',
 'cafe_count_5000_price_high_bucketized_normalized_feature',
 'cafe_count_500_price_1000_bucketized_normalized_feature',
 'build_count_block_bucketized_normalized_feature',
 'market_count_500_bucketized_normalized_feature',
 'market_count_3000_bucketized_normalized_feature',
 'leisure_count_500_bucketized_normalized_feature',
 'cafe_count_500_price_500_bucketized_normalized_feature',
 'cafe_count_500_price_4000_bucketized_normalized_feature',
 'cafe_count_1000_price_1500_bucketized_normalized_feature',
 'cafe_count_1000_price_4000_bucketized_normalized_feature',
 'church_count_500_bucketized_normalized_feature',
 'cafe_count_5000_price_4000_bucketized_normalized_feature',
 'office_count_1000_bucketized_normalized_feature',
 'mosque_count_5000_bucketized_normalized_feature',
 'sport_count_3000_bucketized_normalized_feature',
 'cafe_count_3000_price_2500_bucketized_normalized_feature',
 'church_count_3000_bucketized_normalized_feature',
 'cafe_count_1500_price_2500_bucketized_normalized_feature',
 'market_count_1500_bucketized_normalized_feature',
 'build_count_1946-1970_bucketized_normalized_feature',
 'cafe_count_500_na_price_bucketized_normalized_feature',
 'cafe_count_1500_price_1000_bucketized_normalized_feature',
 'leisure_count_1500_bucketized_normalized_feature',
 'build_count_before_1920_bucketized_normalized_feature',
 'big_church_count_5000_bucketized_normalized_feature',
 'cafe_count_1000_na_price_bucketized_normalized_feature',
 'market_count_5000_bucketized_normalized_feature',
 'sport_count_1500_bucketized_normalized_feature',
 'sport_count_500_bucketized_normalized_feature',
 'leisure_count_5000_bucketized_normalized_feature',
 'trc_count_3000_bucketized_normalized_feature',
 'big_church_count_500_bucketized_normalized_feature',
 'build_count_wood_bucketized_normalized_feature',
 'build_count_frame_bucketized_normalized_feature',
 'cafe_count_1000_price_2500_bucketized_normalized_feature',
 'leisure_count_3000_bucketized_normalized_feature',
 'sport_count_1000_bucketized_normalized_feature',
 'build_count_1971-1995_bucketized_normalized_feature',
 'trc_count_1000_bucketized_normalized_feature',
 'office_count_3000_bucketized_normalized_feature',
 'cafe_count_3000_price_4000_bucketized_normalized_feature',
 'cafe_count_1000_bucketized_normalized_feature',
 'build_count_monolith_bucketized_normalized_feature',
 'build_count_mix_bucketized_normalized_feature',
 'office_count_2000_bucketized_normalized_feature',
 'big_church_count_3000_bucketized_normalized_feature',
 'cafe_count_500_bucketized_normalized_feature',
 'cafe_count_1000_price_high_bucketized_normalized_feature',
 'cafe_count_3000_bucketized_normalized_feature',
 'church_count_2000_bucketized_normalized_feature',
 'church_count_1500_bucketized_normalized_feature',
 'mosque_count_1000_bucketized_normalized_feature',
 'cafe_count_2000_bucketized_normalized_feature',
 'cafe_count_2000_price_2500_bucketized_normalized_feature',
 'mosque_count_3000_bucketized_normalized_feature',
 'big_church_count_1000_bucketized_normalized_feature',
 'big_church_count_1500_bucketized_normalized_feature',
 'cafe_count_500_price_high_bucketized_normalized_feature',
 'cafe_count_3000_price_500_bucketized_normalized_feature',
 'church_count_5000_bucketized_normalized_feature',
 'cafe_count_5000_price_500_bucketized_normalized_feature',
 'catering_km_bucketized_normalized_feature',
 'big_market_km_bucketized_normalized_feature',
 'museum_km_bucketized_normalized_feature',
 'metro_km_avto_bucketized_normalized_feature',
 'radiation_km_bucketized_normalized_feature',
 'ice_rink_km_bucketized_normalized_feature',
 'industrial_km_bucketized_normalized_feature',
 'oil_chemistry_km_bucketized_normalized_feature',
 'public_transport_station_km_bucketized_normalized_feature',
 'sadovoe_km_bucketized_normalized_feature',
 'big_road1_km_bucketized_normalized_feature',
 'bulvar_ring_km_bucketized_normalized_feature',
 'metro_km_walk_bucketized_normalized_feature',
 'swim_pool_km_bucketized_normalized_feature',
 'preschool_km_bucketized_normalized_feature',
 'water_km_bucketized_normalized_feature',
 'park_km_bucketized_normalized_feature',
 'public_healthcare_km_bucketized_normalized_feature',
 'big_church_km_bucketized_normalized_feature',
 'bus_terminal_avto_km_bucketized_normalized_feature',
 'basketball_km_bucketized_normalized_feature',
 'detention_facility_km_bucketized_normalized_feature',
 'power_transmission_line_km_bucketized_normalized_feature',
 'additional_education_km_bucketized_normalized_feature',
 'thermal_power_plant_km_bucketized_normalized_feature',
 'big_road2_km_bucketized_normalized_feature',
 'theater_km_bucketized_normalized_feature',
 'office_km_bucketized_normalized_feature',
 'church_synagogue_km_bucketized_normalized_feature',
 'zd_vokzaly_avto_km_bucketized_normalized_feature',
 'hospice_morgue_km_bucketized_normalized_feature',
 'workplaces_km_bucketized_normalized_feature',
 'railroad_station_avto_km_bucketized_normalized_feature',
 'water_treatment_km_bucketized_normalized_feature',
 'mosque_km_bucketized_normalized_feature',
 'railroad_km_bucketized_normalized_feature',
 'incineration_km_bucketized_normalized_feature',
 'stadium_km_bucketized_normalized_feature',
 'railroad_station_walk_km_bucketized_normalized_feature',
 'cemetery_km_bucketized_normalized_feature',
 'fitness_km_bucketized_normalized_feature',
 'ts_km_bucketized_normalized_feature',
 'ttk_km_bucketized_normalized_feature',
 'mkad_km_bucketized_normalized_feature',
 'market_shop_km_bucketized_normalized_feature',
 'university_km_bucketized_normalized_feature',
 'green_zone_km_bucketized_normalized_feature',
 'kremlin_km_bucketized_normalized_feature',
 'nuclear_reactor_km_bucketized_normalized_feature',
 'exhibition_km_bucketized_normalized_feature',
 'kindergarten_km_bucketized_normalized_feature',
 'school_km_bucketized_normalized_feature',
 'shopping_centers_km_bucketized_normalized_feature',
 'trc_sqm_3000_bucketized_normalized_feature',
 'housing_fund_sqm_bucketized_normalized_feature',
 'office_sqm_1000_bucketized_normalized_feature',
 'life_sq_bucketized_normalized_feature',
 'lodging_sqm_per_cap_bucketized_normalized_feature',
 'trc_sqm_500_bucketized_normalized_feature',
 'office_sqm_3000_bucketized_normalized_feature',
 'trc_sqm_2000_bucketized_normalized_feature',
 'office_sqm_500_bucketized_normalized_feature',
 'trc_sqm_1500_bucketized_normalized_feature',
 'kitch_sq_bucketized_normalized_feature',
 'office_sqm_5000_bucketized_normalized_feature',
 'trc_sqm_5000_bucketized_normalized_feature',
 'office_sqm_1500_bucketized_normalized_feature',
 'full_sq_bucketized_normalized_feature',
 'provision_retail_space_sqm_bucketized_normalized_feature',
 'provision_retail_space_modern_sqm_bucketized_normalized_feature',
 'trc_sqm_1000_bucketized_normalized_feature',
 'apartment_fund_sqm_bucketized_normalized_feature',
 'office_sqm_2000_bucketized_normalized_feature',
 'sport_count_5000_normalized_feature',
 'railroad_station_avto_min_normalized_feature',
 'mosque_count_500_normalized_feature',
 'cafe_count_5000_price_2500_normalized_feature',
 'trc_sqm_3000_normalized_feature',
 'build_count_brick_normalized_feature',
 'office_count_1500_normalized_feature',
 'healthcare_centers_raion_normalized_feature',
 'housing_fund_sqm_normalized_feature',
 'heating_share_normalized_feature',
 'catering_km_normalized_feature',
 'office_count_500_normalized_feature',
 'big_market_km_normalized_feature',
 'museum_km_normalized_feature',
 'gdp_quart_growth_normalized_feature',
 'metro_km_avto_normalized_feature',
 'radiation_km_normalized_feature',
 'cafe_count_1000_price_1000_normalized_feature',
 'build_count_foam_normalized_feature',
 'cafe_count_3000_price_1000_normalized_feature',
 'ice_rink_km_normalized_feature',
 'balance_trade_growth_normalized_feature',
 'leisure_count_1000_normalized_feature',
 'cafe_avg_price_1000_normalized_feature',
 'cafe_count_1500_price_1500_normalized_feature',
 'mosque_count_2000_normalized_feature',
 'trc_count_500_normalized_feature',
 'industrial_km_normalized_feature',
 'profitable_enterpr_share_normalized_feature',
 'office_sqm_1000_normalized_feature',
 '7_14_male_normalized_feature',
 'load_of_teachers_school_per_teacher_normalized_feature',
 'cafe_avg_price_500_normalized_feature',
 'cafe_sum_1500_max_price_avg_normalized_feature',
 'leisure_count_2000_normalized_feature',
 'sport_objects_raion_normalized_feature',
 'oil_chemistry_km_normalized_feature',
 'museum_visitis_per_100_cap_normalized_feature',
 'trc_count_2000_normalized_feature',
 'students_state_oneshift_normalized_feature',
 'mortgage_value_normalized_feature',
 'cafe_count_500_price_1500_normalized_feature',
 'cafe_count_3000_price_1500_normalized_feature',
 '0_13_all_normalized_feature',
 'cafe_sum_1000_min_price_avg_normalized_feature',
 'green_part_500_normalized_feature',
 'pop_natural_increase_normalized_feature',
 'retail_trade_turnover_growth_normalized_feature',
 'build_count_after_1995_normalized_feature',
 'cafe_count_5000_price_1500_normalized_feature',
 'oil_urals_normalized_feature',
 'school_education_centers_raion_normalized_feature',
 'raion_build_count_with_builddate_info_normalized_feature',
 'public_transport_station_km_normalized_feature',
 'sport_count_2000_normalized_feature',
 'sadovoe_km_normalized_feature',
 'cafe_count_3000_price_high_normalized_feature',
 'timestamp_day_normalized_feature',
 'old_house_share_normalized_feature',
 'big_road1_km_normalized_feature',
 'water_pipes_share_normalized_feature',
 'unprofitable_enterpr_share_normalized_feature',
 '0_6_all_normalized_feature',
 'life_sq_normalized_feature',
 'baths_share_normalized_feature',
 'trc_count_1500_normalized_feature',
 'bulvar_ring_km_normalized_feature',
 'market_count_1000_normalized_feature',
 'invest_fixed_assets_phys_normalized_feature',
 'gdp_quart_normalized_feature',
 '16_29_all_normalized_feature',
 'green_zone_part_normalized_feature',
 'school_education_centers_top_20_raion_normalized_feature',
 'cafe_count_1500_price_500_normalized_feature',
 'old_education_build_share_normalized_feature',
 'young_female_normalized_feature',
 'incidence_population_normalized_feature',
 'build_count_slag_normalized_feature',
 'raion_build_count_with_material_info_normalized_feature',
 'metro_km_walk_normalized_feature',
 'culture_objects_top_25_raion_normalized_feature',
 'rent_price_2room_bus_normalized_feature',
 'swim_pool_km_normalized_feature',
 '0_17_female_normalized_feature',
 'invest_fixed_capital_per_cap_normalized_feature',
 'lodging_sqm_per_cap_normalized_feature',
 'cafe_count_1500_price_4000_normalized_feature',
 'green_part_3000_normalized_feature',
 'trc_sqm_500_normalized_feature',
 'preschool_km_normalized_feature',
 'office_sqm_3000_normalized_feature',
 'build_count_panel_normalized_feature',
 'micex_normalized_feature',
 'micex_cbi_tr_normalized_feature',
 'children_school_normalized_feature',
 'trc_sqm_2000_normalized_feature',
 'office_sqm_500_normalized_feature',
 'cafe_sum_2000_max_price_avg_normalized_feature',
 'provision_doctors_normalized_feature',
 'big_church_count_2000_normalized_feature',
 'cafe_count_1500_price_high_normalized_feature',
 'church_count_1000_normalized_feature',
 'cafe_avg_price_3000_normalized_feature',
 'cafe_count_2000_na_price_normalized_feature',
 'trc_count_5000_normalized_feature',
 'trc_sqm_1500_normalized_feature',
 'water_km_normalized_feature',
 'green_part_1000_normalized_feature',
 'park_km_normalized_feature',
 'public_healthcare_km_normalized_feature',
 'build_count_1921-1945_normalized_feature',
 'prom_part_2000_normalized_feature',
 'cafe_count_5000_normalized_feature',
 'hospital_bed_occupancy_per_year_normalized_feature',
 'big_church_km_normalized_feature',
 'bus_terminal_avto_km_normalized_feature',
 'cafe_count_2000_price_4000_normalized_feature',
 'kitch_sq_normalized_feature',
 '7_14_all_normalized_feature',
 'cafe_sum_500_min_price_avg_normalized_feature',
 'income_per_cap_normalized_feature',
 'shopping_centers_raion_normalized_feature',
 'rent_price_3room_eco_normalized_feature',
 'basketball_km_normalized_feature',
 'real_dispos_income_per_cap_growth_normalized_feature',
 'young_all_normalized_feature',
 'detention_facility_km_normalized_feature',
 'cafe_sum_5000_max_price_avg_normalized_feature',
 'cafe_count_2000_price_500_normalized_feature',
 'power_transmission_line_km_normalized_feature',
 'cafe_count_5000_price_1000_normalized_feature',
 'cafe_count_1000_price_500_normalized_feature',
 'share_own_revenues_normalized_feature',
 'net_capital_export_normalized_feature',
 'timestamp_month_normalized_feature',
 'office_sqm_5000_normalized_feature',
 'metro_min_avto_normalized_feature',
 'cafe_count_1500_normalized_feature',
 'mortgage_rate_normalized_feature',
 'green_part_1500_normalized_feature',
 'market_count_2000_normalized_feature',
 'cafe_count_3000_na_price_normalized_feature',
 'trc_sqm_5000_normalized_feature',
 'hospital_beds_raion_normalized_feature',
 'rent_price_4+room_bus_normalized_feature',
 'additional_education_km_normalized_feature',
 'rent_price_1room_bus_normalized_feature',
 'cafe_count_2000_price_1500_normalized_feature',
 'thermal_power_plant_km_normalized_feature',
 'ekder_male_normalized_feature',
 'gas_share_normalized_feature',
 'cafe_count_2000_price_high_normalized_feature',
 'big_road2_km_normalized_feature',
 'theater_km_normalized_feature',
 'gdp_deflator_normalized_feature',
 'ekder_all_normalized_feature',
 'cafe_count_1500_na_price_normalized_feature',
 'office_count_5000_normalized_feature',
 'cafe_count_500_price_2500_normalized_feature',
 'cafe_count_2000_price_1000_normalized_feature',
 'mosque_count_1500_normalized_feature',
 'sewerage_share_normalized_feature',
 'office_km_normalized_feature',
 'modern_education_share_normalized_feature',
 'prom_part_1500_normalized_feature',
 'cafe_count_5000_na_price_normalized_feature',
 'eurrub_normalized_feature',
 'church_synagogue_km_normalized_feature',
 'electric_stove_share_normalized_feature',
 'salary_normalized_feature',
 'load_on_doctors_normalized_feature',
 'average_life_exp_normalized_feature',
 'cafe_count_5000_price_high_normalized_feature',
 'marriages_per_1000_cap_normalized_feature',
 '0_13_female_normalized_feature',
 'office_sqm_1500_normalized_feature',
 'apartment_build_normalized_feature',
 'cafe_count_500_price_1000_normalized_feature',
 'rts_normalized_feature',
 'work_all_normalized_feature',
 'invest_fixed_assets_normalized_feature',
 'build_count_block_normalized_feature',
 'balance_trade_normalized_feature',
 'max_floor_normalized_feature',
 'market_count_500_normalized_feature',
 'market_count_3000_normalized_feature',
 'zd_vokzaly_avto_km_normalized_feature',
 'mortality_normalized_feature',
 'retail_trade_turnover_normalized_feature',
 'railroad_station_walk_min_normalized_feature',
 'hospice_morgue_km_normalized_feature',
 'preschool_quota_normalized_feature',
 'leisure_count_500_normalized_feature',
 'school_quota_normalized_feature',
 'young_male_normalized_feature',
 'usdrub_normalized_feature',
 'cafe_count_500_price_500_normalized_feature',
 'deposits_value_normalized_feature',
 'workplaces_km_normalized_feature',
 'cafe_count_500_price_4000_normalized_feature',
 'cafe_count_1000_price_1500_normalized_feature',
 'cafe_count_1000_price_4000_normalized_feature',
 'cafe_avg_price_1500_normalized_feature',
 'church_count_500_normalized_feature',
 'cafe_count_5000_price_4000_normalized_feature',
 'office_count_1000_normalized_feature',
 'child_on_acc_pre_school_normalized_feature',
 'mosque_count_5000_normalized_feature',
 'sport_count_3000_normalized_feature',
 'cafe_count_3000_price_2500_normalized_feature',
 'railroad_station_avto_km_normalized_feature',
 'full_sq_normalized_feature',
 'state_normalized_feature',
 '7_14_female_normalized_feature',
 'metro_min_walk_normalized_feature',
 'theaters_viewers_per_1000_cap_normalized_feature',
 'church_count_3000_normalized_feature',
 'prom_part_500_normalized_feature',
 'cafe_count_1500_price_2500_normalized_feature',
 'market_count_1500_normalized_feature',
 'preschool_education_centers_raion_normalized_feature',
 'work_male_normalized_feature',
 'office_raion_normalized_feature',
 'childbirth_normalized_feature',
 'mortgage_growth_normalized_feature',
 'prom_part_5000_normalized_feature',
 'water_treatment_km_normalized_feature',
 'construction_value_normalized_feature',
 'build_count_1946-1970_normalized_feature',
 'mosque_km_normalized_feature',
 'cafe_count_500_na_price_normalized_feature',
 'timestamp_year_normalized_feature',
 'railroad_km_normalized_feature',
 'full_all_normalized_feature',
 'hot_water_share_normalized_feature',
 'incineration_km_normalized_feature',
 'cafe_count_1500_price_1000_normalized_feature',
 'leisure_count_1500_normalized_feature',
 'build_count_before_1920_normalized_feature',
 'big_church_count_5000_normalized_feature',
 'green_part_2000_normalized_feature',
 'cafe_count_1000_na_price_normalized_feature',
 'pop_total_inc_normalized_feature',
 'provision_retail_space_sqm_normalized_feature',

In [333]:
final_kaggle_df['old_education_build_share'] = final_kaggle_df.apply(lambda row: int(str(row['old_education_build_share']).replace(",","")), axis=1)

In [334]:
final_kaggle_df['modern_education_share'] = final_kaggle_df.apply(lambda row: int(str(row['modern_education_share']).replace(",","")), axis=1)

In [335]:
default_product_type = "Investment"

In [336]:
final_kaggle_df['product_type'] = final_kaggle_df.apply(lambda row: row['product_type'] if row['product_type'] != 0 else default_product_type, axis=1)

In [337]:
final_kaggle_df = transform_dataset(final_kaggle_df)

In [198]:
final_kaggle_df[[c for c in final_kaggle_df.columns.tolist() if "normalized" in c]]

,sport_count_5000_bucketized_normalized_feature,mosque_count_500_bucketized_normalized_feature,cafe_count_5000_price_2500_bucketized_normalized_feature,build_count_brick_bucketized_normalized_feature,office_count_1500_bucketized_normalized_feature,office_count_500_bucketized_normalized_feature,cafe_count_1000_price_1000_bucketized_normalized_feature,build_count_foam_bucketized_normalized_feature,cafe_count_3000_price_1000_bucketized_normalized_feature,leisure_count_1000_bucketized_normalized_feature,...,nuclear_reactor_raion_normalized_feature,railroad_terminal_raion_normalized_feature,incineration_raion_normalized_feature,big_market_raion_normalized_feature,thermal_power_plant_raion_normalized_feature,big_road1_1line_normalized_feature,water_1line_normalized_feature,railroad_1line_normalized_feature,ecology_normalized_feature,sub_area_normalized_feature
0,1,0,0,2,0,0,0,1,1,0,...,1,1,1,1,1,1,1,1,5,38
1,1,0,1,0,0,0,1,0,1,0,...,1,1,1,1,1,1,1,1,3,103
2,2,0,1,2,1,0,1,0,1,1,...,1,1,1,1,2,1,1,1,4,84
3,1,0,1,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,3,105
4,1,0,1,0,0,0,1,0,1,0,...,1,1,1,1,1,1,1,1,3,103
5,3,0,2,2,1,1,1,0,1,0,...,1,1,1,1,1,1,1,2,5,24
6,1,0,1,1,1,0,1,0,1,1,...,1,1,1,1,1,1,1,1,2,124
7,1,0,1,0,0,0,0,0,1,0,...,1,1,1,2,1,1,1,1,3,102
8,1,0,1,2,0,0,0,0,1,0,...,1,1,1,1,1,1,1,1,3,136
9,1,0,1,0,0,0,0,0,1,0,...,1,1,1,1,1,1,1,1,3,103
10,2,0,1,1,0,0,1,0,1,0,...,1,1,1,1,1,1,1,1,1,70
11,1,0,1,0,0,0,1,0,1,0,...,1,1,1,1,1,1,1,1,3,103
12,0,0,1,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,3,103
13,1,0,1,1,0,0,0,0,1,0,...,1,1,2,1,1,1,1,1,2,72
14,1,0,1,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,3,87
15,1,0,1,0,1,0,0,0,0,0,...,1,1,1,2,1,1,1,1,3,102
16,2,0,1,3,1,0,1,0,1,1,...,1,1,1,1,1,1,1,1,2,34
17,3,0,1,2,1,1,1,0,1,0,...,2,1,1,1,2,1,1,1,4,1
18,1,0,1,1,0,0,0,0,1,0,...,1,1,2,1,1,1,1,1,2,72
19,3,0,1,2,1,1,2,0,1,1,...,2,1,1,1,2,1,1,1,5,1
20,1,0,1,0,0,0,1,0,1,0,...,1,1,1,1,1,1,1,1,3,103
21,2,0,1,1,1,0,1,0,1,2,...,1,1,1,1,1,1,1,1,4,145
22,1,0,1,1,1,0,0,0,1,0,...,1,1,1,1,1,1,1,2,5,143
23,1,0,1,1,0,0,1,0,1,0,...,1,1,1,1,1,1,1,1,2,74
24,2,0,1,1,1,0,1,0,1,1,...,1,1,1,1,1,1,1,1,4,135
25,2,0,1,1,1,1,1,0,1,0,...,1,1,1,1,1,1,1,1,2,3
26,2,0,1,1,1,0,1,0,1,0,...,1,1,1,1,1,1,1,1,5,54
27,2,0,1,1,1,0,1,0,1,0,...,1,1,1,1,1,1,1,1,4,32
28,1,0,1,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,3,101
29,3,0,1,2,1,0,1,0,1,0,...,1,1,1,1,1,1,2,1,5,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7632,2,0,1,1,1,1,1,0,1,0,...,1,1,1,1,1,1,1,1,4,143
7633,1,0,1,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,3,101
7634,2,12,1,1,1,0,1,0,1,0,...,1,1,1,1,1,1,1,1,5,77
7635,2,0,1,2,0,0,0,0,1,0,...,1,1,1,1,2,1,1,1,4,84
7636,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,3,100
7637,0,0,1,0,0,0,0,0,1,0,...,1,1,1,1,1,1,1,1,3,86
7638,1,0,1,0,0,0,1,0,1,0,...,1,1,1,1,1,2,1,1,3,86
7639,2,0,1,0,0,0,1,0,1,0,...,1,1,1,2,1,1,1,1,1,13
7640,5,0,5,5,6,5,6,0,7,6,...,1,2,1,1,1,1,1,1,1,134
7641,1,0,1,0,0,0,1,0,1,0,...,1,1,1,1,1,2,1,1,3,86
7642,2,0,1,1,1,0,1,0,1,0,...,1,1,1,1,1,1,1,1,4,127
7643,1,0,1,1,0,0,1,0,1,0,...,1,1,1,1,1,1,1,1,2,124
7644,3,0,2,2,1,0,1,0,1,1,...,1,1,1,2,1,1,1,1,1,41
7645,1,0,1,0,0,0,1,0,1,0,...,1,1,1,1,1,1,1,1,3,86
7646,1,0,1,3,0,0,0,0,1,0,...,1,1,1,1,1,2,1,1,5,114
7647,3,0,2,2,2,0,1,0,1,0,...,1,1,1,1,1,2,1,2,4,131
7648,4,0,4,5,5,4,4,0,4,4,...,1,2,1,1,1,1,1,1,1,6
7649,4,0,3,2,2,0,1,0,2,0,...,1,1,1,1,1,1,2,1,4,53
7650,1,0,1,0,0,0,1,0,1,0,...,1,1,1,1,1,1,1,1,3,103
7651,2,0,1,1,1,0,1,0,1,0,...,1,1,1,1,1,1,2,1,1,60
7652,3,0,2,2,1,2,2,0,1,0,...,1,1,1,1,1,1,1,1,4,53
7653,4,0,4,5,5,4,4,0,4,4,...,1,2,1,1,1,1,1,1,1,6
7654,0,0,0,1,0,0,0,0,0,0,...,1,1,1,1,1,1,2,1,3,92
7655,1,0,1,0,0,0,0,0,0,0,...,1,1,1,1,1,1,2,1,3,101
7656,1,0,1,0,1,0,0,0,1,0,...,1,1,1,1,1,1,1,1,3,94
7657,2,0,1,1,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,5,43
7658,0,0,1,0,0,0,0,0,1,0,...,1,1,1,1,1,1,1,1,3,86
7659,5,0,5,5,6,5,6,0,7,6,...,1,2,1,1,1,1,1,1,1,134
7660,1,0,1,0,1,0,1,0,1,0,...,1,1,1,2,1,1,1,1,4,79
7661,1,0,1,0,1,1,1,0,1,0,...,1,1,1,1,1,1,1,1,4,19

In [199]:
[c for c in final_kaggle_df.columns.tolist() if "normalized" in c]

['sport_count_5000_bucketized_normalized_feature',
 'mosque_count_500_bucketized_normalized_feature',
 'cafe_count_5000_price_2500_bucketized_normalized_feature',
 'build_count_brick_bucketized_normalized_feature',
 'office_count_1500_bucketized_normalized_feature',
 'office_count_500_bucketized_normalized_feature',
 'cafe_count_1000_price_1000_bucketized_normalized_feature',
 'build_count_foam_bucketized_normalized_feature',
 'cafe_count_3000_price_1000_bucketized_normalized_feature',
 'leisure_count_1000_bucketized_normalized_feature',
 'cafe_count_1500_price_1500_bucketized_normalized_feature',
 'mosque_count_2000_bucketized_normalized_feature',
 'trc_count_500_bucketized_normalized_feature',
 'leisure_count_2000_bucketized_normalized_feature',
 'trc_count_2000_bucketized_normalized_feature',
 'cafe_count_500_price_1500_bucketized_normalized_feature',
 'cafe_count_3000_price_1500_bucketized_normalized_feature',
 'build_count_after_1995_bucketized_normalized_feature',
 'cafe_count_5000_price_1500_bucketized_normalized_feature',
 'raion_build_count_with_builddate_info_bucketized_normalized_feature',
 'sport_count_2000_bucketized_normalized_feature',
 'cafe_count_3000_price_high_bucketized_normalized_feature',
 'trc_count_1500_bucketized_normalized_feature',
 'market_count_1000_bucketized_normalized_feature',
 'cafe_count_1500_price_500_bucketized_normalized_feature',
 'build_count_slag_bucketized_normalized_feature',
 'raion_build_count_with_material_info_bucketized_normalized_feature',
 'cafe_count_1500_price_4000_bucketized_normalized_feature',
 'build_count_panel_bucketized_normalized_feature',
 'big_church_count_2000_bucketized_normalized_feature',
 'cafe_count_1500_price_high_bucketized_normalized_feature',
 'church_count_1000_bucketized_normalized_feature',
 'cafe_count_2000_na_price_bucketized_normalized_feature',
 'trc_count_5000_bucketized_normalized_feature',
 'build_count_1921-1945_bucketized_normalized_feature',
 'cafe_count_5000_bucketized_normalized_feature',
 'cafe_count_2000_price_4000_bucketized_normalized_feature',
 'cafe_count_2000_price_500_bucketized_normalized_feature',
 'cafe_count_5000_price_1000_bucketized_normalized_feature',
 'cafe_count_1000_price_500_bucketized_normalized_feature',
 'cafe_count_1500_bucketized_normalized_feature',
 'market_count_2000_bucketized_normalized_feature',
 'cafe_count_3000_na_price_bucketized_normalized_feature',
 'cafe_count_2000_price_1500_bucketized_normalized_feature',
 'cafe_count_2000_price_high_bucketized_normalized_feature',
 'cafe_count_1500_na_price_bucketized_normalized_feature',
 'office_count_5000_bucketized_normalized_feature',
 'cafe_count_500_price_2500_bucketized_normalized_feature',
 'cafe_count_2000_price_1000_bucketized_normalized_feature',
 'mosque_count_1500_bucketized_normalized_feature',
 'cafe_count_5000_na_price_bucketized_normalized_feature',
 'cafe_count_5000_price_high_bucketized_normalized_feature',
 'cafe_count_500_price_1000_bucketized_normalized_feature',
 'build_count_block_bucketized_normalized_feature',
 'market_count_500_bucketized_normalized_feature',
 'market_count_3000_bucketized_normalized_feature',
 'leisure_count_500_bucketized_normalized_feature',
 'cafe_count_500_price_500_bucketized_normalized_feature',
 'cafe_count_500_price_4000_bucketized_normalized_feature',
 'cafe_count_1000_price_1500_bucketized_normalized_feature',
 'cafe_count_1000_price_4000_bucketized_normalized_feature',
 'church_count_500_bucketized_normalized_feature',
 'cafe_count_5000_price_4000_bucketized_normalized_feature',
 'office_count_1000_bucketized_normalized_feature',
 'mosque_count_5000_bucketized_normalized_feature',
 'sport_count_3000_bucketized_normalized_feature',
 'cafe_count_3000_price_2500_bucketized_normalized_feature',
 'church_count_3000_bucketized_normalized_feature',
 'cafe_count_1500_price_2500_bucketized_normalized_feature',
 'market_count_1500_bucketized_normalized_feature',
 'build_count_1946-1970_bucketized_normalized_feature',
 'cafe_count_500_na_price_bucketized_normalized_feature',
 'cafe_count_1500_price_1000_bucketized_normalized_feature',
 'leisure_count_1500_bucketized_normalized_feature',
 'build_count_before_1920_bucketized_normalized_feature',
 'big_church_count_5000_bucketized_normalized_feature',
 'cafe_count_1000_na_price_bucketized_normalized_feature',
 'market_count_5000_bucketized_normalized_feature',
 'sport_count_1500_bucketized_normalized_feature',
 'sport_count_500_bucketized_normalized_feature',
 'leisure_count_5000_bucketized_normalized_feature',
 'trc_count_3000_bucketized_normalized_feature',
 'big_church_count_500_bucketized_normalized_feature',
 'build_count_wood_bucketized_normalized_feature',
 'build_count_frame_bucketized_normalized_feature',
 'cafe_count_1000_price_2500_bucketized_normalized_feature',
 'leisure_count_3000_bucketized_normalized_feature',
 'sport_count_1000_bucketized_normalized_feature',
 'build_count_1971-1995_bucketized_normalized_feature',
 'trc_count_1000_bucketized_normalized_feature',
 'office_count_3000_bucketized_normalized_feature',
 'cafe_count_3000_price_4000_bucketized_normalized_feature',
 'cafe_count_1000_bucketized_normalized_feature',
 'build_count_monolith_bucketized_normalized_feature',
 'build_count_mix_bucketized_normalized_feature',
 'office_count_2000_bucketized_normalized_feature',
 'big_church_count_3000_bucketized_normalized_feature',
 'cafe_count_500_bucketized_normalized_feature',
 'cafe_count_1000_price_high_bucketized_normalized_feature',
 'cafe_count_3000_bucketized_normalized_feature',
 'church_count_2000_bucketized_normalized_feature',
 'church_count_1500_bucketized_normalized_feature',
 'mosque_count_1000_bucketized_normalized_feature',
 'cafe_count_2000_bucketized_normalized_feature',
 'cafe_count_2000_price_2500_bucketized_normalized_feature',
 'mosque_count_3000_bucketized_normalized_feature',
 'big_church_count_1000_bucketized_normalized_feature',
 'big_church_count_1500_bucketized_normalized_feature',
 'cafe_count_500_price_high_bucketized_normalized_feature',
 'cafe_count_3000_price_500_bucketized_normalized_feature',
 'church_count_5000_bucketized_normalized_feature',
 'cafe_count_5000_price_500_bucketized_normalized_feature',
 'catering_km_bucketized_normalized_feature',
 'big_market_km_bucketized_normalized_feature',
 'museum_km_bucketized_normalized_feature',
 'metro_km_avto_bucketized_normalized_feature',
 'radiation_km_bucketized_normalized_feature',
 'ice_rink_km_bucketized_normalized_feature',
 'industrial_km_bucketized_normalized_feature',
 'oil_chemistry_km_bucketized_normalized_feature',
 'public_transport_station_km_bucketized_normalized_feature',
 'sadovoe_km_bucketized_normalized_feature',
 'big_road1_km_bucketized_normalized_feature',
 'bulvar_ring_km_bucketized_normalized_feature',
 'metro_km_walk_bucketized_normalized_feature',
 'swim_pool_km_bucketized_normalized_feature',
 'preschool_km_bucketized_normalized_feature',
 'water_km_bucketized_normalized_feature',
 'park_km_bucketized_normalized_feature',
 'public_healthcare_km_bucketized_normalized_feature',
 'big_church_km_bucketized_normalized_feature',
 'bus_terminal_avto_km_bucketized_normalized_feature',
 'basketball_km_bucketized_normalized_feature',
 'detention_facility_km_bucketized_normalized_feature',
 'power_transmission_line_km_bucketized_normalized_feature',
 'additional_education_km_bucketized_normalized_feature',
 'thermal_power_plant_km_bucketized_normalized_feature',
 'big_road2_km_bucketized_normalized_feature',
 'theater_km_bucketized_normalized_feature',
 'office_km_bucketized_normalized_feature',
 'church_synagogue_km_bucketized_normalized_feature',
 'zd_vokzaly_avto_km_bucketized_normalized_feature',
 'hospice_morgue_km_bucketized_normalized_feature',
 'workplaces_km_bucketized_normalized_feature',
 'railroad_station_avto_km_bucketized_normalized_feature',
 'water_treatment_km_bucketized_normalized_feature',
 'mosque_km_bucketized_normalized_feature',
 'railroad_km_bucketized_normalized_feature',
 'incineration_km_bucketized_normalized_feature',
 'stadium_km_bucketized_normalized_feature',
 'railroad_station_walk_km_bucketized_normalized_feature',
 'cemetery_km_bucketized_normalized_feature',
 'fitness_km_bucketized_normalized_feature',
 'ts_km_bucketized_normalized_feature',
 'ttk_km_bucketized_normalized_feature',
 'mkad_km_bucketized_normalized_feature',
 'market_shop_km_bucketized_normalized_feature',
 'university_km_bucketized_normalized_feature',
 'green_zone_km_bucketized_normalized_feature',
 'kremlin_km_bucketized_normalized_feature',
 'nuclear_reactor_km_bucketized_normalized_feature',
 'exhibition_km_bucketized_normalized_feature',
 'kindergarten_km_bucketized_normalized_feature',
 'school_km_bucketized_normalized_feature',
 'shopping_centers_km_bucketized_normalized_feature',
 'trc_sqm_3000_bucketized_normalized_feature',
 'housing_fund_sqm_bucketized_normalized_feature',
 'office_sqm_1000_bucketized_normalized_feature',
 'life_sq_bucketized_normalized_feature',
 'lodging_sqm_per_cap_bucketized_normalized_feature',
 'trc_sqm_500_bucketized_normalized_feature',
 'office_sqm_3000_bucketized_normalized_feature',
 'trc_sqm_2000_bucketized_normalized_feature',
 'office_sqm_500_bucketized_normalized_feature',
 'trc_sqm_1500_bucketized_normalized_feature',
 'kitch_sq_bucketized_normalized_feature',
 'office_sqm_5000_bucketized_normalized_feature',
 'trc_sqm_5000_bucketized_normalized_feature',
 'office_sqm_1500_bucketized_normalized_feature',
 'full_sq_bucketized_normalized_feature',
 'provision_retail_space_sqm_bucketized_normalized_feature',
 'provision_retail_space_modern_sqm_bucketized_normalized_feature',
 'trc_sqm_1000_bucketized_normalized_feature',
 'apartment_fund_sqm_bucketized_normalized_feature',
 'office_sqm_2000_bucketized_normalized_feature',
 'sport_count_5000_normalized_feature',
 'railroad_station_avto_min_normalized_feature',
 'mosque_count_500_normalized_feature',
 'cafe_count_5000_price_2500_normalized_feature',
 'trc_sqm_3000_normalized_feature',
 'build_count_brick_normalized_feature',
 'office_count_1500_normalized_feature',
 'healthcare_centers_raion_normalized_feature',
 'housing_fund_sqm_normalized_feature',
 'heating_share_normalized_feature',
 'catering_km_normalized_feature',
 'office_count_500_normalized_feature',
 'big_market_km_normalized_feature',
 'museum_km_normalized_feature',
 'gdp_quart_growth_normalized_feature',
 'metro_km_avto_normalized_feature',
 'radiation_km_normalized_feature',
 'cafe_count_1000_price_1000_normalized_feature',
 'build_count_foam_normalized_feature',
 'cafe_count_3000_price_1000_normalized_feature',
 'ice_rink_km_normalized_feature',
 'balance_trade_growth_normalized_feature',
 'leisure_count_1000_normalized_feature',
 'cafe_avg_price_1000_normalized_feature',
 'cafe_count_1500_price_1500_normalized_feature',
 'mosque_count_2000_normalized_feature',
 'trc_count_500_normalized_feature',
 'industrial_km_normalized_feature',
 'profitable_enterpr_share_normalized_feature',
 'office_sqm_1000_normalized_feature',
 '7_14_male_normalized_feature',
 'load_of_teachers_school_per_teacher_normalized_feature',
 'cafe_avg_price_500_normalized_feature',
 'cafe_sum_1500_max_price_avg_normalized_feature',
 'leisure_count_2000_normalized_feature',
 'sport_objects_raion_normalized_feature',
 'oil_chemistry_km_normalized_feature',
 'museum_visitis_per_100_cap_normalized_feature',
 'trc_count_2000_normalized_feature',
 'students_state_oneshift_normalized_feature',
 'mortgage_value_normalized_feature',
 'cafe_count_500_price_1500_normalized_feature',
 'cafe_count_3000_price_1500_normalized_feature',
 '0_13_all_normalized_feature',
 'cafe_sum_1000_min_price_avg_normalized_feature',
 'green_part_500_normalized_feature',
 'pop_natural_increase_normalized_feature',
 'retail_trade_turnover_growth_normalized_feature',
 'build_count_after_1995_normalized_feature',
 'cafe_count_5000_price_1500_normalized_feature',
 'oil_urals_normalized_feature',
 'school_education_centers_raion_normalized_feature',
 'raion_build_count_with_builddate_info_normalized_feature',
 'public_transport_station_km_normalized_feature',
 'sport_count_2000_normalized_feature',
 'sadovoe_km_normalized_feature',
 'cafe_count_3000_price_high_normalized_feature',
 'timestamp_day_normalized_feature',
 'old_house_share_normalized_feature',
 'big_road1_km_normalized_feature',
 'water_pipes_share_normalized_feature',
 'unprofitable_enterpr_share_normalized_feature',
 '0_6_all_normalized_feature',
 'life_sq_normalized_feature',
 'baths_share_normalized_feature',
 'trc_count_1500_normalized_feature',
 'bulvar_ring_km_normalized_feature',
 'market_count_1000_normalized_feature',
 'invest_fixed_assets_phys_normalized_feature',
 'gdp_quart_normalized_feature',
 '16_29_all_normalized_feature',
 'green_zone_part_normalized_feature',
 'school_education_centers_top_20_raion_normalized_feature',
 'cafe_count_1500_price_500_normalized_feature',
 'old_education_build_share_normalized_feature',
 'young_female_normalized_feature',
 'incidence_population_normalized_feature',
 'build_count_slag_normalized_feature',
 'raion_build_count_with_material_info_normalized_feature',
 'metro_km_walk_normalized_feature',
 'culture_objects_top_25_raion_normalized_feature',
 'rent_price_2room_bus_normalized_feature',
 'swim_pool_km_normalized_feature',
 '0_17_female_normalized_feature',
 'invest_fixed_capital_per_cap_normalized_feature',
 'lodging_sqm_per_cap_normalized_feature',
 'cafe_count_1500_price_4000_normalized_feature',
 'green_part_3000_normalized_feature',
 'trc_sqm_500_normalized_feature',
 'preschool_km_normalized_feature',
 'office_sqm_3000_normalized_feature',
 'build_count_panel_normalized_feature',
 'micex_normalized_feature',
 'micex_cbi_tr_normalized_feature',
 'children_school_normalized_feature',
 'trc_sqm_2000_normalized_feature',
 'office_sqm_500_normalized_feature',
 'cafe_sum_2000_max_price_avg_normalized_feature',
 'provision_doctors_normalized_feature',
 'big_church_count_2000_normalized_feature',
 'cafe_count_1500_price_high_normalized_feature',
 'church_count_1000_normalized_feature',
 'cafe_avg_price_3000_normalized_feature',
 'cafe_count_2000_na_price_normalized_feature',
 'trc_count_5000_normalized_feature',
 'trc_sqm_1500_normalized_feature',
 'water_km_normalized_feature',
 'green_part_1000_normalized_feature',
 'park_km_normalized_feature',
 'public_healthcare_km_normalized_feature',
 'build_count_1921-1945_normalized_feature',
 'prom_part_2000_normalized_feature',
 'cafe_count_5000_normalized_feature',
 'hospital_bed_occupancy_per_year_normalized_feature',
 'big_church_km_normalized_feature',
 'bus_terminal_avto_km_normalized_feature',
 'cafe_count_2000_price_4000_normalized_feature',
 'kitch_sq_normalized_feature',
 '7_14_all_normalized_feature',
 'cafe_sum_500_min_price_avg_normalized_feature',
 'income_per_cap_normalized_feature',
 'shopping_centers_raion_normalized_feature',
 'rent_price_3room_eco_normalized_feature',
 'basketball_km_normalized_feature',
 'real_dispos_income_per_cap_growth_normalized_feature',
 'young_all_normalized_feature',
 'detention_facility_km_normalized_feature',
 'cafe_sum_5000_max_price_avg_normalized_feature',
 'cafe_count_2000_price_500_normalized_feature',
 'power_transmission_line_km_normalized_feature',
 'cafe_count_5000_price_1000_normalized_feature',
 'cafe_count_1000_price_500_normalized_feature',
 'share_own_revenues_normalized_feature',
 'net_capital_export_normalized_feature',
 'timestamp_month_normalized_feature',
 'office_sqm_5000_normalized_feature',
 'metro_min_avto_normalized_feature',
 'cafe_count_1500_normalized_feature',
 'mortgage_rate_normalized_feature',
 'green_part_1500_normalized_feature',
 'market_count_2000_normalized_feature',
 'cafe_count_3000_na_price_normalized_feature',
 'trc_sqm_5000_normalized_feature',
 'hospital_beds_raion_normalized_feature',
 'rent_price_4+room_bus_normalized_feature',
 'additional_education_km_normalized_feature',
 'rent_price_1room_bus_normalized_feature',
 'cafe_count_2000_price_1500_normalized_feature',
 'thermal_power_plant_km_normalized_feature',
 'ekder_male_normalized_feature',
 'gas_share_normalized_feature',
 'cafe_count_2000_price_high_normalized_feature',
 'big_road2_km_normalized_feature',
 'theater_km_normalized_feature',
 'gdp_deflator_normalized_feature',
 'ekder_all_normalized_feature',
 'cafe_count_1500_na_price_normalized_feature',
 'office_count_5000_normalized_feature',
 'cafe_count_500_price_2500_normalized_feature',
 'cafe_count_2000_price_1000_normalized_feature',
 'mosque_count_1500_normalized_feature',
 'sewerage_share_normalized_feature',
 'office_km_normalized_feature',
 'modern_education_share_normalized_feature',
 'prom_part_1500_normalized_feature',
 'cafe_count_5000_na_price_normalized_feature',
 'eurrub_normalized_feature',
 'church_synagogue_km_normalized_feature',
 'electric_stove_share_normalized_feature',
 'salary_normalized_feature',
 'load_on_doctors_normalized_feature',
 'average_life_exp_normalized_feature',
 'cafe_count_5000_price_high_normalized_feature',
 'marriages_per_1000_cap_normalized_feature',
 '0_13_female_normalized_feature',
 'office_sqm_1500_normalized_feature',
 'apartment_build_normalized_feature',
 'cafe_count_500_price_1000_normalized_feature',
 'rts_normalized_feature',
 'work_all_normalized_feature',
 'invest_fixed_assets_normalized_feature',
 'build_count_block_normalized_feature',
 'balance_trade_normalized_feature',
 'max_floor_normalized_feature',
 'market_count_500_normalized_feature',
 'market_count_3000_normalized_feature',
 'zd_vokzaly_avto_km_normalized_feature',
 'mortality_normalized_feature',
 'retail_trade_turnover_normalized_feature',
 'railroad_station_walk_min_normalized_feature',
 'hospice_morgue_km_normalized_feature',
 'preschool_quota_normalized_feature',
 'leisure_count_500_normalized_feature',
 'school_quota_normalized_feature',
 'young_male_normalized_feature',
 'usdrub_normalized_feature',
 'cafe_count_500_price_500_normalized_feature',
 'deposits_value_normalized_feature',
 'workplaces_km_normalized_feature',
 'cafe_count_500_price_4000_normalized_feature',
 'cafe_count_1000_price_1500_normalized_feature',
 'cafe_count_1000_price_4000_normalized_feature',
 'cafe_avg_price_1500_normalized_feature',
 'church_count_500_normalized_feature',
 'cafe_count_5000_price_4000_normalized_feature',
 'office_count_1000_normalized_feature',
 'child_on_acc_pre_school_normalized_feature',
 'mosque_count_5000_normalized_feature',
 'sport_count_3000_normalized_feature',
 'cafe_count_3000_price_2500_normalized_feature',
 'railroad_station_avto_km_normalized_feature',
 'full_sq_normalized_feature',
 'state_normalized_feature',
 '7_14_female_normalized_feature',
 'metro_min_walk_normalized_feature',
 'theaters_viewers_per_1000_cap_normalized_feature',
 'church_count_3000_normalized_feature',
 'prom_part_500_normalized_feature',
 'cafe_count_1500_price_2500_normalized_feature',
 'market_count_1500_normalized_feature',
 'preschool_education_centers_raion_normalized_feature',
 'work_male_normalized_feature',
 'office_raion_normalized_feature',
 'childbirth_normalized_feature',
 'mortgage_growth_normalized_feature',
 'prom_part_5000_normalized_feature',
 'water_treatment_km_normalized_feature',
 'construction_value_normalized_feature',
 'build_count_1946-1970_normalized_feature',
 'mosque_km_normalized_feature',
 'cafe_count_500_na_price_normalized_feature',
 'timestamp_year_normalized_feature',
 'railroad_km_normalized_feature',
 'full_all_normalized_feature',
 'hot_water_share_normalized_feature',
 'incineration_km_normalized_feature',
 'cafe_count_1500_price_1000_normalized_feature',
 'leisure_count_1500_normalized_feature',
 'build_count_before_1920_normalized_feature',
 'big_church_count_5000_normalized_feature',
 'green_part_2000_normalized_feature',
 'cafe_count_1000_na_price_normalized_feature',
 'pop_total_inc_normalized_feature',
 'provision_retail_space_sqm_normalized_feature',

In [338]:
extract_normalized_feature(final_kaggle_df, "sub_area")

array([ 38, 103,  84, ..., 134,  79,  19])

In [339]:
kaggle_split_df_continuous_features = extract_normalized_features(final_kaggle_df)
kaggle_split_df_categorical_features = extract_categorical_features(final_kaggle_df, include_embedding_cols=False)
kaggle_split_df_embedding_features = extract_embedding_features(final_kaggle_df)
    
kaggle_split_df_embedding_features_final = {}
for k, v in kaggle_split_df_embedding_features.items():
    kaggle_split_df_embedding_features_final[k + "_input"] = v
       
kaggle_split_df_combined_inputs = combine_inputs([kaggle_split_df_continuous_features] 
                                                     +  kaggle_split_df_categorical_features.values())

In [340]:
kaggle_split_df_categorical_features

{'big_market_raion': array([[1],
        [1],
        [1],
        ...,
        [1],
        [2],
        [1]]), 'big_road1_1line': array([[1],
        [1],
        [1],
        ...,
        [1],
        [1],
        [1]]), 'culture_objects_top_25': array([[ 1.,  0.],
        [ 1.,  0.],
        [ 1.,  0.],
        ...,
        [ 0.,  1.],
        [ 1.,  0.],
        [ 1.,  0.]]), 'detention_facility_raion': array([[1],
        [1],
        [1],
        ...,
        [2],
        [1],
        [1]]), 'incineration_raion': array([[1],
        [1],
        [1],
        ...,
        [1],
        [1],
        [1]]), 'material': array([[ 0.,  1.,  0., ...,  0.,  0.,  0.],
        [ 0.,  1.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  1., ...,  0.,  0.,  0.],
        ...,
        [ 0.,  1.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  1.,  0.],
        [ 0.,  1.,  0., ...,  0.,  0.,  0.]]), 'nuclear_reactor_raion': array([[1],
        [1],
        [1],
        ...,
        [1],
        [1],
        [1]]), 'oil_chemistry_raion': array([[1],
        [1],
        [2],
        ...,
        [1],
        [1],
        [1]]), 'product_type': array([[ 1.,  0.],
        [ 0.,  1.],
        [ 1.,  0.],
        ...,
        [ 0.,  1.],
        [ 1.,  0.],
        [ 1.,  0.]]), 'radiation_raion': array([[1],
        [1],
        [2],
        ...,
        [2],
        [1],
        [1]]), 'railroad_1line': array([[1],
        [1],
        [1],
        ...,
        [1],
        [1],
        [1]]), 'railroad_terminal_raion': array([[1],
        [1],
        [1],
        ...,
        [2],
        [1],
        [1]]), 'state_refractored': array([[ 0.,  0.,  0.,  1.,  0.,  0.],
        [ 0.,  1.,  0.,  0.,  0.,  0.],
        [ 0.,  0.,  1.,  0.,  0.,  0.],
        ...,
        [ 0.,  1.,  0.,  0.,  0.,  0.],
        [ 0.,  0.,  1.,  0.,  0.,  0.],
        [ 0.,  0.,  0.,  1.,  0.,  0.]]), 'thermal_power_plant_raion': array([[1],
        [1],
        [2],
        ...,
        [1],
        [1],
        [1]]), 'water_1line': array([[1],
        [1],
        [1],
        ...,
        [1],
        [1],
        [1]])}

In [341]:
kaggle_split_df_embedding_features

{'ID_big_road1': array([[ 2],
        [13],
        [10],
        ...,
        [ 4],
        [23],
        [ 2]]), 'ID_big_road2': array([[38],
        [27],
        [ 1],
        ...,
        [34],
        [52],
        [40]]), 'ID_bus_terminal': array([[ 9],
        [ 8],
        [ 3],
        ...,
        [13],
        [ 6],
        [ 2]]), 'ID_metro': array([[ 45],
        [ 21],
        [ 44],
        ...,
        [120],
        [ 53],
        [142]]), 'ID_railroad_station_avto': array([[39],
        [24],
        [59],
        ...,
        [32],
        [27],
        [21]]), 'ID_railroad_station_walk': array([[ 39.],
        [ 24.],
        [ 68.],
        ...,
        [  5.],
        [ 27.],
        [ 82.]]), 'ID_railroad_terminal': array([[32],
        [50],
        [ 5],
        ...,
        [32],
        [32],
        [32]]), 'ecology': array([[5],
        [3],
        [4],
        ...,
        [1],
        [4],
        [4]]), 'sub_area': array([[ 38],
        [103],
        [ 84],
        ...,
        [134],
        [ 79],
        [ 19]])}

In [342]:
kaggle_split_df_continuous_features

array([[-0.838086  ,  0.03928507, -0.07009939, ...,  1.89720164,
        -0.48593907, -1.83239346],
       [-0.8812901 ,  0.16129706, -0.07009939, ...,  1.89720164,
        -0.49387983, -1.83239346],
       [ 0.39323092, -0.14841033, -0.07009939, ...,  1.89720164,
        -0.10478255, -1.83239346],
       ...,
       [ 3.24470169, -0.19664223, -0.07009939, ...,  0.24523479,
         4.54850328, -1.83239346],
       [-0.21162651,  0.01626024, -0.07009939, ...,  0.24523479,
        -0.36682766, -1.83239346],
       [-0.23322857,  0.2272611 , -0.07009939, ...,  0.24523479,
        -0.20007168, -1.83239346]])

In [343]:
vs = []
for column in one_hot_columns:
    vals = final_kaggle_df[column].values.tolist()
    vals = [c if c in known_values[column] else unknown_label for c in vals]
    if unknown_label in vals:
        vs.append((column, vals))

In [344]:
[v[0] for v in vs]

[]

In [345]:
kaggle_preds = real_estate_price_model.predict(x=dict({
                    'main_input' : kaggle_split_df_combined_inputs
                }.items() + kaggle_split_df_embedding_features_final.items()))

In [346]:
kaggle_preds

array([[  3.07068355e+10],
       [  3.07081196e+10],
       [  3.07076506e+10],
       ...,
       [  9.80176000e+06],
       [  1.45478860e+07],
       [  1.71274320e+07]], dtype=float32)

In [191]:
final_kaggle_df['price_doc'] = kaggle_preds

In [192]:
final_kaggle_df['price_doc']

0       4.093042e+10
1       4.093284e+10
2       4.093333e+10
3       4.093235e+10
4       4.092968e+10
5       4.093546e+10
6       4.093052e+10
7       4.092911e+10
8       4.093080e+10
9       4.093024e+10
10      4.093242e+10
11      4.092887e+10
12      4.092848e+10
13      4.092789e+10
14      4.093016e+10
15      4.093108e+10
16      4.093927e+10
17      4.093849e+10
18      4.093026e+10
19      4.093700e+10
20      4.093147e+10
21      4.093658e+10
22      4.093368e+10
23      4.093388e+10
24      4.093059e+10
25      4.093547e+10
26      4.093610e+10
27      4.093445e+10
28      4.092772e+10
29      4.093438e+10
            ...
7632    1.344982e+07
7633    8.391098e+06
7634    1.654414e+07
7635    1.180624e+07
7636    6.630701e+06
7637    9.822717e+06
7638    7.509546e+06
7639    1.351762e+07
7640    1.002495e+07
7641    7.301856e+06
7642    1.362228e+07
7643    1.310399e+07
7644    1.443113e+07
7645    7.393820e+06
7646    1.267712e+07
7647    1.206970e+07
7648    1.271957e+07
7649    1.379366e+07
7650    1.036312e+07
7651    1.457870e+07
7652    1.565315e+07
7653    1.154449e+07
7654    5.983253e+06
7655    8.477090e+06
7656    1.033173e+07
7657    1.480891e+07
7658    9.642606e+06
7659    8.396339e+06
7660    1.159151e+07
7661    1.567782e+07
Name: price_doc, dtype: float32

In [193]:
4.093042e10

40930420000.0

In [271]:
final_kaggle_df[['id', 'price_doc']]

         id    price_doc
0     30474   5880385.00
1     30475   8747043.00
2     30476   6298690.00
3     30477   6858484.00
4     30478   5549552.00
5     30479   8727317.00
6     30480   4832307.00
7     30481   4594226.00
8     30482   5736204.00
9     30483   5148752.00
10    30484   6578606.00
11    30485   5241682.50
12    30486   4955262.00
13    30487   4775061.00
14    30488   4861991.50
15    30489   6553341.50
16    30490  15251378.00
17    30491  15826982.00
18    30492   6276733.00
19    30493  12756315.00
20    30494   7439958.00
21    30495  10608332.00
22    30496   9471844.00
23    30497   9561188.00
24    30498   5613341.00
25    30499  10385531.00
26    30500  11192737.00
27    30501   8029026.50
28    30502   3457591.00
29    30503   7588155.00
...     ...          ...
7632  38106   5395088.50
7633  38107   3818764.50
7634  38108   9053429.00
7635  38109   5843685.00
7636  38110   3000335.25
7637  38111   4398782.00
7638  38112   3272240.50
7639  38113   6565595.00
7640  38114   6662632.50
7641  38115   3215262.25
7642  38116   6269689.50
7643  38117   6126363.00
7644  38118   6988746.00
7645  38119   3320255.25
7646  38120   6477169.50
7647  38121   6265315.00
7648  38122   6612234.50
7649  38123   5803001.50
7650  38124   5714071.00
7651  38125   7696539.00
7652  38126   7756061.50
7653  38127   6139387.50
7654  38128   2404006.00
7655  38129   3862035.50
7656  38130   4787133.00
7657  38131   7213634.00
7658  38132   4247625.00
7659  38133   4821589.00
7660  38134   5442102.50
7661  38135   8152384.50

[7662 rows x 2 columns]

In [272]:
final_kaggle_df[['id', 'price_doc']].to_csv("/mnt/h/Kaggle/Competitions/Russian Bank/models/v" + str(version) + "/submission.csv", index=False) # output submission csv file